<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">Calculation complete</h1>
  <div class="govuk-panel__body govuk-!-font-size-24">
    The calculation has been saved in NOMIS.
  </div>
</div>
