<h1 class="govuk-panel__title">
    Calculation complete for<br>
    {{ prisonerDetail.firstName | title + ' ' + prisonerDetail.lastName | title }}
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
    The calculation has been saved in NOMIS.
</div>