<h1 class="govuk-panel__title">
    Dates saved for<br>
    {{ prisonerDetail.firstName | title + ' ' + prisonerDetail.lastName | title }}
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
    These dates have been saved in NOMIS.
</div>