<h1 class="govuk-panel__title">
    No release dates have been saved for<br>
    {{ prisonerDetail.firstName | title + ' ' + prisonerDetail.lastName | title }}
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
    NOMIS has been updated to reflect that no release dates are applicable at this time.
</div>