<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">Calculation complete</h1>
  <div class="govuk-panel__body">
    <p class="govuk-body-l">The calculation has been saved in NOMIS.</p>
  </div>
</div>
