<div class="govuk-!-margin-top-9">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l">Help improve this service</h2>
    <p class="govuk-body">This is a new service. Your feedback will help make it better. To give feedback you can:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a target="_blank" title="Provide feedback, opens in a new tab" href="https://eu.surveymonkey.com/r/Calculatereleasedatesfeedback">complete a short survey</a></li>
        <li><a title="Email your report of a specific problem" href="mailto:calculatereleasedates@digital.justice.gov.uk">report a specific problem</a></li>
    </ul>
</div>