{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro breadcrumb(pageTitle, breadcrumbList, displayCurrentPageTitle="true") %}

  {% set rows = [ {
    text: "Home",
    href: '/'
    } ]
  %}

  {% for item in breadcrumbList %}
    {% set rows = (rows.push(
      {
        text: item.title,
        href: item.href
      }
    ), rows) %}
  {% endfor %}

  {% if displayCurrentPageTitle %}
    {% set completedRows = (rows.push(
      {
        text: pageTitle
      }
    ), rows) %}
  {% else %}
    {% set completedRows = rows %}
  {% endif %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: completedRows,
  classes: "govuk-!-display-none-print"
}) }}

{% endmacro %}
