{{ mojHeader({
    organisationLabel: {
        text: 'HMPPS',
        href: '/'
    },
    serviceLabel: {
        text: 'Calculate release dates',
        href: '/'
    },
    navigation: {
        label: 'Account navigation',
        items: [{
            text: user.displayName | initialiseName,
            href: '/',
            active: true
        }, {
            text: 'Sign out',
            href: '/logout'
        }]
    }

}) }}
