{{ mojHeader({
    organisationLabel: {
        text: 'HMPPS',
        href: '/'
    },
    serviceLabel: {
        text: 'Calculate release dates',
        href: '/'
    },
    navigation: {
        label: 'Account navigation',
        items: [{
            text: user.displayName | initialiseName,
            href: '/',
            id: 'header-user-name',
            attributes: {  'data-qa': 'header-user-name' },
            active: true
        }, {
            text: 'Sign out',
            href: '/logout',
            attributes: {  'data-qa': 'logout' }
        }]
    }

}) }}
