{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "moj/components/header/macro.njk" import mojHeader %}

{% block head %}

  <!-- Google Tag Manager -->
  <script nonce="{{cspNonce}}">
    ;
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer'
          ? '&l=' + l
          : '';

      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl + '{{ tagManagerEnvironment | safe }}';

      var n = d.querySelector('[nonce]');
      n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce'));
      f
        .parentNode
        .insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KRZDR45');
  </script>
  <!-- End Google Tag Manager -->

  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block beforeContent %}
  <aside role="complementary">
    {% include "../pages/partials/phaseBanner.njk" %}
    {% block aside %}{% endblock %}
  </aside>
  <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}