{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% macro sds40Banner(isSDS40SwitchedOn) %}
    {% set html %}
        {% if isSDS40SwitchedOn %}
            <p class="govuk-body">
                This service now supports SDS calculations.
            </p>
        {% else %}
            <p class="govuk-body">
                SDS40 calculations must be recorded manually, by following normal the Calculate release dates process.
                You can still use this service to calculate all other release dates.
            </p>
        {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
        html: html
    }) }}
{% endmacro %}

{{ sds40Banner(isSDS40SwitchedOn) }}
