{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
    <p class="govuk-notification-banner__heading">
        This service is being updated to reflect the new SDS40 policy
    </p>
        <br/>
    <p class="govuk-body">
        The Calculate release dates service currently calculates SDS sentences at 50%. All SDS40 calculations must be recorded using the SharePoint tracker, as outlined in the SDS operational guidance.
    </p>
{% endset %}

{{ govukNotificationBanner({
    html: html
}) }}