.sass-cache
.DS_Store
.start.pid
.port.tmp
public
assets/stylesheets/*.css
lib/govuk_template.html
govuk_modules
node_modules/*
.tmuxp.*
.idea
.vscode
npm-debug.log
build/*
uploads/*
test-results.xml
build-info.json
.env
yarn-error.log
.eslintcache
dist/
test_results/
integration_tests/videos/
integration_tests/screenshots/
.localstack
*/*.iml
*secrets*.yaml
!secrets-example.yaml
!**/templates/secrets.yaml
