{% macro releaseDateLine(heading, description, dataQa, releaseDate, extras) %}
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key release-dates-key govuk-!-font-size-24" style="max-width: 40%;">{{ heading }}
            <p class="govuk-hint">{{ description }}</p>
        </dt>
        <dd class="govuk-summary-list__value release-dates-value" data-qa={{ dataQa }}>{{ releaseDate }}
            {% for extra in extras %}
                {{ extra | safe }}
            {% endfor %}</dd>
        {% if not model.viewJourney %}
            <dd class="govuk-summary-list__action govuk-!-text-align-right">
                <a class="govuk-link"
                   href="/calculation/{{ model.nomsId }}/{{ model.calculationRequestId }}/change?dateType={{ heading }}">Change
                    <span class="govuk-visually-hidden"> {{ heading }}</span></a>
                <a class="remove-link"
                   href="/calculation/{{ model.nomsId }}/{{ model.calculationRequestId }}/remove?dateType={{ heading }}">Remove
                    <span class="govuk-visually-hidden"> {{ heading }}</span></a>
            </dd>
        {% endif %}
    </div>
{% endmacro %}

{% macro releaseNoDateLine(heading, dataQa) %}
    <h3 class="govuk-heading-s">{{ heading }}</h3>
    <p class="govuk-body" data-qa={{ dataQa }}></p>
{% endmacro %}


<div class="custom-card">
    <div class="custom-card-main">
        <dl class="govuk-summary-list">
            {% if model.approvedDates.APD %}
                {{ releaseDateLine('APD', 'Approved parole date', 'APD-date', model.approvedDates.APD, model.getHints('APD')) }}
            {% endif %}
            {% if model.approvedDates.HDCAD %}
                {{ releaseDateLine('HDCAD', 'Home detention curfew approved date', 'HDCAD-date', model.approvedDates.HDCAD, model.getHints('HDCAD')) }}
            {% endif %}
            {% if model.approvedDates.ROTL %}
                {{ releaseDateLine('ROTL', 'Release on temporary licence', 'ROTL-date', model.approvedDates.ROTL, model.getHints('ROTL')) }}
            {% endif %}

        </dl>
    </div>
</div>