{% macro releaseDateLine(heading, description, dataQa, releaseDate, extras) %}
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key release-dates-key govuk-!-font-size-24" style="max-width: 40%;">{{ heading }}
            <p class="govuk-hint">{{ description }}</p>
        </dt>
        <dd class="govuk-summary-list__value" style="min-width: 40%;" data-qa={{ dataQa }}>{{ releaseDate }}
            {% for extra in extras %}
                {{ extra | safe }}
            {% endfor %}</dd>
        {% if not model.viewJourney %}
            <dd class="govuk-summary-list__action">
                <a class="govuk-link"
                   href="/calculation/{{ model.nomsId }}/{{ model.calculationRequestId }}/change?dateType={{ heading }}">Change
                    <span class="govuk-visually-hidden"> {{ heading }}</span></a>
                <a class="remove-link"
                   href="/calculation/{{ model.nomsId }}/{{ model.calculationRequestId }}/remove?dateType={{ heading }}">Remove
                    <span class="govuk-visually-hidden"> {{ heading }}</span></a>
            </dd>
        {% endif %}
    </div>
{% endmacro %}

{% macro releaseNoDateLine(heading, dataQa) %}
    <h3 class="govuk-heading-s">{{ heading }}</h3>
    <p class="govuk-body" data-qa={{ dataQa }}></p>
{% endmacro %}


<div class="custom-card">
    <div class="custom-card-main">
        <dl class="govuk-summary-list">
            {% if model.approvedDates.SLED %}
                {{ releaseDateLine('SLED','Sentence and licence expiry date', 'SLED-date', model.approvedDates.SLED) }}
            {% endif %}
            {% if model.approvedDates.LED %}
                {{ releaseDateLine('LED', 'Licence expiry date', 'LED-date', model.approvedDates.LED) }}
            {% endif %}
            {% if model.approvedDates.SED %}
                {{ releaseDateLine('SED', 'Sentence expiry date', 'SED-date', model.approvedDates.SED) }}
            {% endif %}
            {% if model.approvedDates.NPD %}
                {{ releaseDateLine('NPD', 'Non parole date', 'NPD-date', model.approvedDates.NPD) }}
            {% endif %}
            {% if model.approvedDates.ARD %}
                {{ releaseDateLine('ARD', 'Automatic release date', 'ARD-date', model.approvedDates.ARD, model.getHints('ARD')) }}
            {% endif %}
            {% if model.approvedDates.CRD %}
                {{ releaseDateLine('CRD', 'Conditional release date', 'CRD-date', model.approvedDates.CRD, model.getHints('CRD')) }}
            {% endif %}
            {% if model.approvedDates.PED %}
                {{ releaseDateLine('PED', 'Parole eligibility date', 'PED-date', model.approvedDates.PED, model.getHints('PED')) }}
            {% endif %}
            {% if model.approvedDates.PRRD %}
                {{ releaseDateLine('PRRD', 'Post recall release date', 'PRRD-date', model.approvedDates.PRRD, model.getHints('PRRD')) }}
            {% endif %}
            {% if model.approvedDates.HDCED %}
                {{ releaseDateLine('HDCED', 'Home detention curfew eligibility date', 'HDCED-date', model.approvedDates.HDCED, model.getHints('HDCED')) }}
            {% endif %}
            {% if model.approvedDates.ETD %}
                {{ releaseDateLine('ETD', 'Early transfer date', 'ETD-date', model.approvedDates.ETD, model.getHints('ETD')) }}
            {% endif %}
            {% if model.approvedDates.MTD %}
                {{ releaseDateLine('MTD', 'Mid term date', 'MTD-date', model.approvedDates.MTD, model.getHints('MTD')) }}
            {% endif %}
            {% if model.approvedDates.LTD %}
                {{ releaseDateLine('LTD', 'Late transfer date', 'LTD-date', model.approvedDates.LTD, model.getHints('LTD')) }}
            {% endif %}
            {% if model.approvedDates.TUSED %}
                {{ releaseDateLine('TUSED', 'Top up supervision expiry date', 'TUSED-date', model.approvedDates.TUSED, model.getHints('TUSED')) }}
            {% endif %}
            {% if model.approvedDates.ERSED %}
                {{ releaseDateLine('ERSED', 'Early removal scheme eligibility date', 'ERSED-date', model.approvedDates.ERSED, model.getHints('ERSED')) }}
            {% endif %}
            {% if model.approvedDates.ROTL %}
                {{ releaseDateLine('ROTL', 'Release on temporary licence', 'ROTL-date', model.approvedDates.ROTL, model.getHints('ROTL')) }}
            {% endif %}
            {% if model.approvedDates.HDCAD %}
                {{ releaseDateLine('HDCAD', 'Home detention curfew approved date', 'HDCAD-date', model.approvedDates.HDCAD, model.getHints('HDCAD')) }}
            {% endif %}
            {% if model.approvedDates.DPRRD %}
                {{ releaseDateLine('DPRRD', 'Detention and training order post recall release date', 'DPRRD-date', model.approvedDates.DPRRD, model.getHints('HDCAD')) }}
            {% endif %}
            {% if model.approvedDates.Tariff %}
                {{ releaseDateLine('Tariff', 'known as the Tariff expiry date', 'Tariff-date', model.approvedDates.Tariff, model.getHints('Tariff')) }}
            {% endif %}
            {% if model.approvedDates.TERSED %}
                {{ releaseDateLine('TERSED', 'Tariff-expired removal scheme eligibility date', 'TERSED-date', model.approvedDates.TERSED, model.getHints('TERSED')) }}
            {% endif %}
            {% if model.approvedDates.APD %}
                {{ releaseDateLine('APD', 'Approved parole date', 'APD-date', model.approvedDates.APD, model.getHints('APD')) }}
            {% endif %}
            {% if model.hasNone %}
                {{ releaseNoDateLine('No dates apply', 'None-date') }}
            {% endif %}
        </dl>
    </div>
</div>