{% macro breakdownDates(dates, releaseDates) %}
    {{breakdownDate(dates.SLED, releaseDates.SLED, 'Sentence and licence expiry date (SLED)')}}
    {{breakdownDate(dates.SED, releaseDates.SED, 'Sentence expiry date (SED)')}}
    {{breakdownDate(dates.ARD, releaseDates.ARD, 'Automatic release date (ARD)')}}
    {{breakdownDate(dates.CRD, releaseDates.CRD, 'Conditional release date (CRD)')}}
{% endmacro %}

{% macro breakdownDate(theDate, releaseDate, name) %}
    {% if theDate %}
        <h3 class="govuk-heading-s">{{name}}</h3>
        <p class="govuk-body {% if releaseDate === theDate.adjusted %}govuk-!-font-weight-bold{% endif %}">{{ theDate.unadjusted | date('dddd, DD MMMM YYYY') }}</p>
    {% endif %}
{% endmacro %}

{% macro effectiveDatesDisplay(dates) %}
    {{effectiveDate(dates.SLED, 'Sentence and licence expiry date (SLED)')}}
    {{effectiveDate(dates.SED, 'Sentence expiry date (SED)')}}
    {{effectiveDate(dates.ARD, 'Automatic release date (ARD)')}}
    {{effectiveDate(dates.CRD, 'Conditional release date (CRD)')}}
{% endmacro %}

{% macro effectiveDate(theDate, name) %}
    {% if theDate %}
        <h3 class="govuk-heading-s">{{name}}</h3>
        <p class="govuk-body">{{ theDate.unadjusted | date('dddd, DD MMMM YYYY') }} - {{theDate.daysBetween}} days = {{ theDate.adjusted | date('dddd, DD MMMM YYYY') }}
        </p>
    {% endif %}
{% endmacro %}