<div class="gantt-table overflow-x-scroll">
    <table class="govuk-table fixed-layout-table govuk-!-margin-bottom-8">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"></th>
                {% for header in model.sentenceDiagramViewModel.headers %}
                    {% if loop.first or header.month == 'Jan' %}
                        <th class="govuk-table__header" scope="col">{{header.year}}
                            {{header.month}}</th>
                    {% else %}
                        <th class="govuk-table__header" scope="col">{{header.month}}</th>
                    {% endif %}
                {% endfor %}

            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for row in model.sentenceDiagramViewModel.diagram.rows %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-size-16">{{row.description}}</td>
                    {% for cell in model
                        .sentenceDiagramViewModel
                        .cells(row) %}
                        {% if cell.empty %}
                            {% for i in range(0, cell.length) %}
                                <td class="govuk-table__cell"></td>
                            {% endfor %}
                        {% else %}
                            <td class="govuk-table__cell" colspan="{{cell.length}}">
                                <div class="flex">
                                    {% for box in cell.boxes %}
                                        {% if loop.first %}
                                            {% set startClass = 'start-position-' + cell.start %}
                                        {% else %}
                                            {% set startClass = '' %}
                                        {% endif %}
                                        {% if loop.last %}
                                            {% set endClass = 'end-position-' + cell.end %}
                                        {% else %}
                                            {% set endClass = '' %}
                                        {% endif %}
                                        <div class="colourful-cell {{box.colour}} {{startClass}} {{endClass}}">{{box.text}}</div>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>