{% macro releaseDateLine(heading, dataQa, releaseDate) %}
    <h3 class="govuk-heading-s">{{ heading }}</h3>
    <p class="govuk-body" data-qa={{ dataQa }}>{{ releaseDate | date('dddd, DD MMMM YYYY') }}</p>
{% endmacro %}

{% macro holidayLine(dataQa, releaseDate, isBankHoliday) %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16" data-qa={{ dataQa }}>{{ releaseDate | date('dddd, DD MMMM YYYY') }} adjusted for {{ "Bank Holiday" if isBankHoliday else "weekend" }}</p>
{% endmacro %}

<h2 class="govuk-heading-l govuk-!-margin-top-9">Final release dates</h2>
<div class="custom-card">
    <div class="custom-card-main">
        {% if releaseDates.SLED %}
            {{ releaseDateLine('Sentence and licence expiry date (SLED)', 'SLED-date', releaseDates.SLED) }}
        {% endif %}
        {% if releaseDates.LED %}
            {{ releaseDateLine('Licence expiry date (LED)', 'LED-date', releaseDates.LED) }}
        {% endif %}
        {% if releaseDates.SED %}
            {{ releaseDateLine('Sentence expiry date (SED)', 'SED-date', releaseDates.SED) }}
        {% endif %}
        {% if releaseDates.NPD %}
            {{ releaseDateLine('Non parole date (NPD)', 'NPD-date', releaseDates.NPD) }}
        {% endif %}
        {% if releaseDates.ARD %}
            {{ releaseDateLine('Automatic release date (ARD)', 'ARD-date', releaseDates.ARD) }}
            {% if weekendAdjustments.ARD %}
                {{ holidayLine('ARD-weekend-adjustment', weekendAdjustments.ARD.date, weekendAdjustments.ARD.adjustedForBankHoliday) }}
            {% endif %}
        {% endif %}
        {% if releaseDates.CRD %}
            {{ releaseDateLine('Conditional release date (CRD)', 'CRD-date', releaseDates.CRD) }}
            {% if weekendAdjustments.CRD %}
                {{ holidayLine('CRD-weekend-adjustment', weekendAdjustments.CRD.date, weekendAdjustments.CRD.adjustedForBankHoliday) }}
            {% endif %}
        {% endif %}
        {% if releaseDates.PED %}
            {{ releaseDateLine('Parole eligibility date (PED)', 'PED-date', releaseDates.PED) }}
        {% endif %}
        {% if releaseDates.PRRD %}
            {{ releaseDateLine('Post recall release date (PRRD)', 'PRRD-date', releaseDates.PRRD) }}
        {% endif %}
        {% if releaseDates.HDCED %}
            {{ releaseDateLine('Home detention curfew eligibility date (HDCED)', 'HDCED-date', releaseDates.HDCED) }}
            {% if weekendAdjustments.HDCED %}
                {{ holidayLine('HDCED-weekend-adjustment', weekendAdjustments.HDCED.date, weekendAdjustments.HDCED.adjustedForBankHoliday) }}
            {% endif %}
        {% endif %}
        {% if releaseDates.TUSED %}
            {{ releaseDateLine('Top up supervision expiry date (TUSED)', 'TUSED-date', releaseDates.TUSED) }}
        {% endif %}
    </div>
</div>