{% macro releaseDateLine(heading, dataQa, releaseDate) %}
    <h3 class="govuk-heading-s">{{ heading }}</h3>
    <p class="govuk-body" data-qa={{ dataQa }}>{{ releaseDate | date('dddd, DD MMMM YYYY') }}</p>
{% endmacro %}

{% macro holidayLine(dataQa, releaseDate, isBankHoliday) %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16" data-qa={{ dataQa }}>{{ releaseDate | date('dddd, DD MMMM YYYY') }} when adjusted to a working day</p>
{% endmacro %}

{% macro hdcedBeforePrrdLine(prrd) %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16">Release on HDC must not take place before the PRRD {{ prrd | date('dddd, DD MMMM YYYY') }}</p>
{% endmacro %}

{% macro pedBeforePrrdLine(prrd) %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16">The post recall release date (PRRD) of {{ prrd | date('dddd, DD MMMM YYYY') }} is later than the PED</p>
{% endmacro %}

{% macro pedAdjustedByOtherRelease() %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16">PED adjusted for the {{model.displayPedAdjustmentHint()}} of a concurrent sentence or default term</p>
{% endmacro %}

{% macro hdcedAdjustedByOtherRelease() %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16">HDCED adjusted for the {{model.displayHdcedAdjustmentHint()}} of a concurrent sentence or default term</p>
{% endmacro %}

{% macro ersedAdjustedByOtherRelease() %}
    <p class="govuk-body govuk-hint govuk-!-font-size-16">ERSED adjusted for the ARD of a concurrent default term</p>
{% endmacro %}

<div class="custom-card">
    <div class="custom-card-main">
        {% if model.releaseDates.SLED %}
            {{ releaseDateLine('Sentence and licence expiry date (SLED)', 'SLED-date', model.releaseDates.SLED) }}
        {% endif %}
        {% if model.releaseDates.LED %}
            {{ releaseDateLine('Licence expiry date (LED)', 'LED-date', model.releaseDates.LED) }}
        {% endif %}
        {% if model.releaseDates.SED %}
            {{ releaseDateLine('Sentence expiry date (SED)', 'SED-date', model.releaseDates.SED) }}
        {% endif %}
        {% if model.releaseDates.NPD %}
            {{ releaseDateLine('Non parole date (NPD)', 'NPD-date', model.releaseDates.NPD) }}
        {% endif %}
        {% if model.releaseDates.ARD %}
            {{ releaseDateLine('Automatic release date (ARD)', 'ARD-date', model.releaseDates.ARD) }}
            {% if model.weekendAdjustments.ARD %}
                {{ holidayLine('ARD-weekend-adjustment', model.weekendAdjustments.ARD.date, model.weekendAdjustments.ARD.adjustedForBankHoliday) }}
            {% endif %}
        {% endif %}
        {% if model.releaseDates.CRD %}
            {{ releaseDateLine('Conditional release date (CRD)', 'CRD-date', model.releaseDates.CRD) }}
            {% if model.weekendAdjustments.CRD %}
                {{ holidayLine('CRD-weekend-adjustment', model.weekendAdjustments.CRD.date, model.weekendAdjustments.CRD.adjustedForBankHoliday) }}
            {% endif %}
        {% endif %}
        {% if model.releaseDates.PED %}
            {{ releaseDateLine('Parole eligibility date (PED)', 'PED-date', model.releaseDates.PED) }}
            {% if model.displayPedAdjustmentHint() %}
                {{ pedAdjustedByOtherRelease()}}
            {% endif %}
            {% if model.weekendAdjustments.PED %}
                {{ holidayLine('PED-weekend-adjustment', model.weekendAdjustments.PED.date, model.weekendAdjustments.PED.adjustedForBankHoliday) }}
            {% endif %}
            {% if model.pedBeforePRRD() %}
                {{ pedBeforePrrdLine(model.calculationBreakdown.otherDates.PRRD)}}
            {% endif %}
        {% endif %}
        {% if model.releaseDates.PRRD %}
            {{ releaseDateLine('Post recall release date (PRRD)', 'PRRD-date', model.releaseDates.PRRD) }}
            {% if model.weekendAdjustments.PRRD %}
                {{ holidayLine('PRRD-weekend-adjustment', model.weekendAdjustments.PRRD.date, model.weekendAdjustments.PRRD.adjustedForBankHoliday) }}
            {% endif %}
        {% endif %}
        {% if model.releaseDates.HDCED %}
            {{ releaseDateLine('Home detention curfew eligibility date (HDCED)', 'HDCED-date', model.releaseDates.HDCED) }}
            {% if model.displayHdcedAdjustmentHint() %}
                {{ hdcedAdjustedByOtherRelease()}}
            {% endif %}
            {% if model.weekendAdjustments.HDCED %}
                {{ holidayLine('HDCED-weekend-adjustment', model.weekendAdjustments.HDCED.date, model.weekendAdjustments.HDCED.adjustedForBankHoliday) }}
            {% endif %}
            {% if model.hdcedBeforePRRD() %}
                {{ hdcedBeforePrrdLine(model.calculationBreakdown.otherDates.PRRD)}}
            {% endif %}
        {% endif %}
        {% if model.releaseDates.TUSED %}
            {{ releaseDateLine('Top up supervision expiry date (TUSED)', 'TUSED-date', model.releaseDates.TUSED) }}
        {% endif %}
        {% if model.releaseDates.ERSED %}
            {{ releaseDateLine('Early removal scheme eligibility date (ERSED)', 'ERSED-date', model.releaseDates.ERSED) }}
            {% if model.displayErsedAdjustmentHint() %}
                {{ ersedAdjustedByOtherRelease()}}
            {% endif %}
        {% endif %}
    </div>
</div>