{% macro releaseDateLine(heading, description, dataQa, releaseDate, extras) %}
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key release-dates-key govuk-!-font-size-24" style="max-width: 40%;">{{ heading }}
            <p class="govuk-hint">{{ description }}</p>
        </dt>
        <dd class="govuk-summary-list__value" style="max-width: 40%;" data-qa={{ dataQa }}>{{ releaseDate | date('dddd, DD MMMM YYYY') }}
            <p style="margin-top: 10px;">
            {% for extra in extras %}
                {{ extra | safe}}
            {% endfor %}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>
{% endmacro %}

{% macro releaseNoDateLine(heading, dataQa) %}
    <h3 class="govuk-heading-s">{{ heading }}</h3>
    <p class="govuk-body" data-qa={{ dataQa }}></p>
{% endmacro %}


<div class="custom-card">
    <div class="custom-card-main">
        <dl class="govuk-summary-list">
            {% if model.releaseDates.SLED %}
                {{ releaseDateLine('SLED','Sentence and licence expiry date', 'SLED-date', model.releaseDates.SLED) }}
            {% endif %}
            {% if model.releaseDates.LED %}
                {{ releaseDateLine('LED', 'Licence expiry date', 'LED-date', model.releaseDates.LED) }}
            {% endif %}
            {% if model.releaseDates.SED %}
                {{ releaseDateLine('SED', 'Sentence expiry date', 'SED-date', model.releaseDates.SED) }}
            {% endif %}
            {% if model.releaseDates.NPD %}
                {{ releaseDateLine('NPD', 'Non parole date', 'NPD-date', model.releaseDates.NPD) }}
            {% endif %}
            {% if model.releaseDates.ARD %}
                {{ releaseDateLine('ARD', 'Automatic release date', 'ARD-date', model.releaseDates.ARD, model.getHints('ARD')) }}
            {% endif %}
            {% if model.releaseDates.CRD %}
                {{ releaseDateLine('CRD', 'Conditional release date', 'CRD-date', model.releaseDates.CRD, model.getHints('CRD')) }}
            {% endif %}
            {% if model.releaseDates.PED %}
                {{ releaseDateLine('PED', 'Parole eligibility date', 'PED-date', model.releaseDates.PED, model.getHints('PED')) }}
            {% endif %}
            {% if model.releaseDates.PRRD %}
                {{ releaseDateLine('PRRD', 'Post recall release date', 'PRRD-date', model.releaseDates.PRRD, model.getHints('PRRD')) }}
            {% endif %}
            {% if model.releaseDates.HDCED %}
                {{ releaseDateLine('HDCED', 'Home detention curfew eligibility date', 'HDCED-date', model.releaseDates.HDCED, model.getHints('HDCED')) }}
            {% endif %}
            {% if model.releaseDates.ETD %}
                {{ releaseDateLine('ETD', 'Early transfer date', 'ETD-date', model.releaseDates.ETD, model.getHints('ETD')) }}
            {% endif %}
            {% if model.releaseDates.MTD %}
                {{ releaseDateLine('MTD', 'Mid term date', 'MTD-date', model.releaseDates.MTD, model.getHints('MTD')) }}
            {% endif %}
            {% if model.releaseDates.LTD %}
                {{ releaseDateLine('LTD', 'Late transfer date', 'LTD-date', model.releaseDates.LTD, model.getHints('LTD')) }}
            {% endif %}
            {% if model.releaseDates.TUSED %}
                {{ releaseDateLine('TUSED', 'Top up supervision expiry date', 'TUSED-date', model.releaseDates.TUSED, model.getHints('TUSED')) }}
            {% endif %}
            {% if model.releaseDates.ERSED %}
                {{ releaseDateLine('ERSED', 'Early removal scheme eligibility date', 'ERSED-date', model.releaseDates.ERSED, model.getHints('ERSED')) }}
            {% endif %}
            {% if model.releaseDates.ROTL %}
                {{ releaseDateLine('ROTL', 'Release on temporary licence', 'ROTL-date', model.releaseDates.ROTL, model.getHints('ROTL')) }}
            {% endif %}
            {% if model.releaseDates.HDCAD %}
                {{ releaseDateLine('HDCAD', 'Home detention curfew approved date', 'HDCAD-date', model.releaseDates.HDCAD, model.getHints('HDCAD')) }}
            {% endif %}
            {% if model.releaseDates.DPRRD %}
                {{ releaseDateLine('DPRRD', 'Detention and training order post recall release date', 'DPRRD-date', model.releaseDates.DPRRD, model.getHints('HDCAD')) }}
            {% endif %}
            {% if model.releaseDates.Tariff %}
                {{ releaseDateLine('Tariff', 'known as the Tariff expiry date', 'Tariff-date', model.releaseDates.Tariff, model.getHints('Tariff')) }}
            {% endif %}
            {% if model.releaseDates.TERSED %}
                {{ releaseDateLine('TERSED', 'Tariff-expired removal scheme eligibility date', 'TERSED-date', model.releaseDates.TERSED, model.getHints('TERSED')) }}
            {% endif %}
            {% if model.releaseDates.APD %}
                {{ releaseDateLine('APD', 'Approved parole date', 'APD-date', model.releaseDates.APD, model.getHints('APD')) }}
            {% endif %}
            {% if model.hasNone %}
                {{ releaseNoDateLine('No dates apply', 'None-date') }}
            {% endif %}
        </dl>
    </div>
</div>