{% if calculationBreakdown and effectiveDates %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l govuk-!-margin-top-6">Calculation breakdown</h2>

            <!-- Concurrent sentence breakdown -->
            {% if calculationBreakdown.concurrentSentences.length %}
                <div class="govuk-!-margin-bottom-8">
                    <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">
                        {% if calculationBreakdown.concurrentSentences.length === 1 and not calculationBreakdown.consecutiveSentence %}
            Sentence
            {% else %}
            Concurrent sentences
            {% endif %}
                    </h3>
                    <table class="govuk-table govuk-!-margin-bottom-4" style="table-layout:fixed; width: 100%; border: none;" data-qa="concurrent-sentence-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Sentence</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence date</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--date">Expiry date</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--date">Release date</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body calculation-breakdown">
                            {% for sentence in calculationBreakdown.concurrentSentences %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">Court case {{sentence.caseSequence}}, count {{sentence.lineSequence}}</td>
                                    <td class="govuk-table__cell">{{ sentence.sentencedAt | date('DD MMMM YYYY') }}</td>
                                    <td class="govuk-table__cell">{{ sentence.sentenceLength}}</td>
                                    {% set expiryDate = sentence.dates | expiryDates %}
                                    <td class="govuk-table__cell">{{ expiryDate.unadjusted | date('DD MMMM YYYY') }}<br/>
                                        <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">{{expiryDate.daysFromSentenceStart}} days</span><br/>
                                        <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">{{sentence.dates | expiryDateType }}</span></td>
                                    {% set releaseDate = sentence.dates | releaseDates %}
                                    <td class="govuk-table__cell">{{ releaseDate.unadjusted | date('DD MMMM YYYY') }}<br/>
                                        <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">{{releaseDate.daysFromSentenceStart}} days</span><br/>
                                        <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">{{sentence.dates | releaseDateType }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">

        {% if calculationBreakdown.consecutiveSentence %}
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Consecutive sentences</h3>
            </div>
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-4" data-qa="consecutive-start-date">Consecutive sentences start date: <span class="govuk-body">{{ calculationBreakdown.consecutiveSentence.sentencedAt | date('DD MMMM YYYY') }}</span></p>
                <table class="govuk-table govuk-!-margin-bottom-4" data-qa="consecutive-sentence-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Sentence</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body calculation-breakdown">
                        {% for sentencePart in calculationBreakdown.consecutiveSentence.sentenceParts %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case {{sentencePart.caseSequence}}, count {{sentencePart.lineSequence}}</td>
                                <td class="govuk-table__cell">{{sentencePart.sentenceLength}}<br/>
                                    {% if sentencePart.consecutiveToLineSequence and sentencePart.consecutiveToCaseSequence %}
                                        <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">consecutive to court case {{sentencePart.consecutiveToCaseSequence}}, count {{sentencePart.consecutiveToLineSequence}}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="govuk-table govuk-!-margin-top-6" data-qa="consecutive-dates-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" style="border-top: none; margin-top: 25px;">
                            <td class="govuk-table__header" style="width: 43.5%;">Total sentence length</td>
                            <td class="govuk-table__cell">{{calculationBreakdown.consecutiveSentence.sentenceLengthDays}} days</td>
                        </tr>
                        <tr class="govuk-table__row" style="border-top: none; margin-top: 25px;">
                            <td class="govuk-table__header" style="width: 43.5%;">{{calculationBreakdown.consecutiveSentence.dates | expiryDateType}}</td>
                            {% set expiryDate = calculationBreakdown.consecutiveSentence.dates | expiryDates %}
                            <td class="govuk-table__cell">{{ expiryDate.unadjusted | date('DD MMMM YYYY') }}<br/>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">{{expiryDate.daysFromSentenceStart}} days</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header" style="width: 43.5%;">{{calculationBreakdown.consecutiveSentence.dates | releaseDateType}}</td>
                            {% set releaseDate = calculationBreakdown.consecutiveSentence.dates | releaseDates %}
                            <td class="govuk-table__cell">{{ releaseDate.unadjusted | date('DD MMMM YYYY') }}<br/>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">{{releaseDate.daysFromSentenceStart}} days</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    {% include "./breakdown/datesWithAdjustments.njk" %}
{% endif %}