customErrorBanner

{% if validationErrors and validationErrors.messages.length > 0 %}

     {% set validErrorKeys = [
         "missing-prison-api-data",
         "unsupported-offence",
         "suspended-offence",
         "unsupported-sentence",
         "unsupported-calculation",
         "validation",
         "save-dates"
     ] %}

     {% set rawErrorKey = validationErrors.messageType | lower | replace('_', '-') %}

     {% if rawErrorKey in validErrorKeys %}
         {% set errorKey = rawErrorKey %}
     {% else %}
         {% set errorKey = 'default' %}
     {% endif %}

    <div class="govuk-error-summary check-information-errors {% if errorKey === 'missing-prison-api-data' %}information-summary{% endif %}"
         aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            {% include "./errorBanner/error-title-" + errorKey + ".njk" %}
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% include "./errorBanner/error-summary-" + errorKey + ".njk" %}
            </ul>
        </div>
    </div>
{% endif %}
