{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% if model.displayErs2024Banner() %}
    {% set ersBannerHtml %}
        <h2 class="govuk-heading-m">From 16 January, the policy for calculating ERSED has changed</h2>
        <p class="govuk-body">This service has calculated the ERSED using the new policy rules.</p>
    {% endset %}
    {{ mojBanner({
        type: ' ',
        html: ersBannerHtml
    }) }}
{% endif %}