{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% if model.isRecallOnly() and not model.isErsedEligible() %}
    {% set ersedRecallNotification %}
        <h2 class="govuk-heading-m">Important</h2>
        <p class="govuk-body">This service cannot calculate the ERSED if the person is serving a recall. If they are eligible for early removal, enter the ERSED in NOMIS.</p>
    {% endset %}
    {{ mojBanner({
        type: ' ',
        html: ersedRecallNotification
    }) }}

{% endif %}