{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% if validationErrors.length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: validationErrors
            }) }}
        </div>
    </div>
{% endif %}
