{% if model.hasMultipleOffencesToASentence() %}
    {% set multipleOffencesHtml %}
        <h2 class="govuk-heading-m">You have entered multiple offences for a single sentence</h2>
        <p class="govuk-body">
        {% for k,v in model.getMultipleOffencesToASentence() %}
            <p> {{ 'Court case ' + k + ' NOMIS line number ' + v +' has multiple offences against the sentence. Each sentence must have only one offence. This service has automatically applied a new sentence for each offence.' }}
            </p>
        {% endfor %}
        </p>
        <p>If you make any corrections in NOMIS, then <a href="">reload this page</a></p>
    {% endset %}
    {{ mojBanner({
        type: ' ',
        html: multipleOffencesHtml
    }) }}
{% endif %}