{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
        text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" target="_blank" title="Provide feedback, opens in a new tab" href="https://eu.surveymonkey.com/r/Calculatereleasedatesfeedback">feedback</a> will help us to improve it.'
}) }}