{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
        text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" target="_blank" title="Provide service feedback in new window" href="https://eu.surveymonkey.com/r/Preview/?sm=dFUIwU9qNi19rd7MlCmV4_2BHEcQEFGmEtiy_2FCbWch03bH52LqEQ5RsPz1a7_2BiGCvR">feedback</a> will help us to improve it.'
}) }}