{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "hmpps/components/mini-profile/macro.njk" import miniProfile -%}
{% from "hmpps/components/court-cases-release-dates/profile-banner/macro.njk" import profileBanner %}

{% set banners = {
   'OUT': {
      dataQa: "personOutsideBanner",
      heading: "This person has been released",
      paragraphText: "Some information may be hidden"
   },
   'TRN': {
      dataQa: "personTransferredBanner",
      heading: "This person has been transferred",
      paragraphText: "Some information may be hidden"
   }
} %}
{% set params = banners[commonElementConfig.establishmentCode] %}

{% if params %}
   {{ profileBanner(params) }}
{% endif %}

{% if commonElementConfig.miniProfile %}
   {{ miniProfile(commonElementConfig.miniProfile.person, commonElementConfig.miniProfile.imageUrl, digitalPrisonServicesUrl + commonElementConfig.miniProfile.profileUrl) }}
{% endif %}