{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "hmpps/components/mini-profile/macro.njk" import miniProfile -%}
{% if commonElementConfig.miniProfile %}
   {{ miniProfile(commonElementConfig.miniProfile.person, commonElementConfig.miniProfile.imageUrl, digitalPrisonServicesUrl + commonElementConfig.miniProfile.profileUrl) }}
{% endif %}