{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form method="get">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
                label: {
                    text: "Prison number"
                },
                id: "prisonerIdentifier",
                value: searchValues.prisonerIdentifier,
                name: "prisonerIdentifier",
                attributes: {  'data-qa': 'prisoner-identifier' }
            }) }}
        </div>
        <div class="govuk-grid-column-one-third">
            {{ govukInput({
                label: {
                    text: "First name"
                },
                id: "prisonerFirstName",
                value: searchValues.firstName,
                name: "firstName",
                attributes: {  'data-qa': 'prisoner-first-name' }
            }) }}
        </div>
        <div class="govuk-grid-column-one-third">
            {{ govukInput({
                label: {
                    text: "Last name"
                },
                id: "prisonerLastName",
                value: searchValues.lastName,
                name: "lastName",
                attributes: {  'data-qa': 'prisoner-last-name' }
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters ">
            <div>
                {{ govukButton({
                    classes: "govuk-button--primary",
                    text: "Search",
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'search-prisoners' }
                }) }}
            </div>
        </div>
    </div>

</form>