{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h4 class="govuk-heading-m govuk-!-margin-top-2">Adjustments</h4>
<h5 class="govuk-heading-s govuk-!-margin-bottom-0 ">Deductions</h5>
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header"></th>
        <th class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of days on remand</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.remand }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of days tagged bail</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.taggedBail }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.restoredAdditionalDaysAwarded }}</td>
    </tr>
    </tbody>
</table>
<h5 class="govuk-heading-s govuk-!-margin-bottom-0">Additions</h5>
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header"></th>
        <th class="govuk-table__header"></th>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Additional days awarded (ADA)</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.additionalDaysAwarded }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of days unlawfully at large (UAL)</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.unlawfullyAtLarge }}</td>
    </tr>
    </tbody>
</table>
