{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<table id="sentence-terms-table" class="govuk-table" data-qa="sentence-terms-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Offence started at</th>
        <th scope="col" class="govuk-table__header">Sentenced at (Sentence start date)</th>
        <th scope="col" class="govuk-table__header">Duration days</th>
        <th scope="col" class="govuk-table__header">Duration months</th>
        <th scope="col" class="govuk-table__header">Duration years</th>
        <th scope="col" class="govuk-table__header">Sequence</th>
        <th scope="col" class="govuk-table__header">Consecutive to sequence</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    {% for sentenceTerm in sentenceTerms %}
        {% set rowClass = 'even' if loop.index % 2 === 0 else 'odd' %}
        <tr class="govuk-table__row {{ rowClass }}">
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.startDate }}</td>
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.sentenceStartDate }}</td>
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.days }}</td>
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.months }}</td>
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.years }}</td>
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.sentenceSequence }}</td>
            <td class="govuk-table__cell govuk-!-padding-top-8">{{ sentenceTerm.consecutiveTo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

