{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<table class="govuk-table govuk-!-width-full">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header">Count</th>
        <th class="govuk-table__header">Offence</th>
        <th class="govuk-table__header">Sentence date</th>
        <th class="govuk-table__header">Sentence length</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    {% for sentence in sentencesAndOffences %}
        {% for offence in sentence.offences %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ sentence.sentenceSequence }}</td>
                <td class="govuk-table__cell">{{ offence.offenceDescription }}<br>
                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16 govuk-!-margin-bottom-0">
                                    {% if (offence.offenceEndDate or offence.offenceStartDate) %}
                                        Committed on {{ (offence.offenceEndDate or offence.offenceStartDate) | date('DD MMMM YYYY') }}
                                    {% else %}
                                        Offence date not entered
                                    {% endif %}
                                </span>
                </td>
                <td class="govuk-table__cell">{{ sentence.sentenceDate | date('DD MMMM YYYY') }}</td>
                <td class="govuk-table__cell">{{ sentence.years }} years {{ sentence.months }} months <br>
                                              {{ sentence.weeks }} weeks  {{ sentence.days }} days
                    <br><span
                            class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16 govuk-!-margin-bottom-0">
                    {% if sentence.consecutiveToSequence %}
                        consecutive to {{ sentence.consecutiveToSequence }}</span>
                    {% else %}
                        concurrent
                    {% endif %}
                    </span>
                </td>

            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

