.govuk-main-wrapper {
  min-height: 600px;
}
.govuk-table.adjudications .govuk-table__cell {
  min-width: 30px;
}
div.govuk-width-container {
  max-width: 1150px;
  margin-top: 15px;
}

.govuk-error-summary.information-summary {
  border-color: govuk-colour('blue');
}
