{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - calculation summary" %}
{% set pageId = "calculation-summary" %}
{% block beforeContent %}
    {{super()}}
    {% include "../partials/prisonerIdentityBar.njk" %}
    {{ govukBackLink({
        text: "Back",
        href: "/calculation/" + prisonerDetail.offenderNo + "/check-information"
    }) }}
{% endblock %}

{% block content %}
    {% include "../partials/formError.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Review calculation before submitting</h1>
            {% include "../partials/calculationSummaryDates.njk" %}

            <p class="govuk-body">
                <a href="#">Report a problem with this calculation</a>
            </p>
            <h3 class="govuk-heading-m govuk-!-margin-top-9">Confirm and submit to NOMIS</h3>
            <p class="govuk-body">By submitting this calculation you are confirming that, to the best of your knowledge,
                    it is correct. The calculation will be saved in NOMIS.</p>
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukButton({
                        text: "Confirm and submit",
                        type: submit,
                        value: 'confirm-and-submit',
                        preventDoubleClick: true,
                        attributes: { 'data-qa': 'submit-to-nomis' }   
                    }) }}
            </form>
            <p class="govuk-body govuk-!-font-size-16">
                <a href={{ "/calculation/" + prisonerDetail.offenderNo +
                    "/check-information" }} class="govuk-link">Cancel calculation</a>
            </p>

        </div>
    </div>
{% endblock %}