{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "check-information" %}

{% block aside %}
    {% set prisonerDetail = model.prisonerDetail %}
    {% include "../partials/prisonerIdentityBar.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {% if model.lastUserQuestion() %}
        {% set backlink = "/calculation/" + model.prisonerDetail.offenderNo + "/select-offences-that-appear-in-" + model.lastUserQuestion().url %}
        {% elif model.dpsEntryPoint %}
        {% set backlink = "/?prisonId=" + model.prisonerDetail.offenderNo %}
    {% else %}
        {% set backlink = "/search/prisoners" %}
    {% endif %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: backlink
        }) }}
    </nav>
{% endblock %}

{% block content %}
    {% set validationErrors = model.validationErrors %}
    {% include "../partials/customErrorBanner.njk" %}
    {% include "../partials/multipleOffencesBanner.njk" %}
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl" id="check-nomis-heading">Check sentence and offence information for
        {{ model.prisonerDetail.firstName | title + ' ' + model.prisonerDetail.lastName | title }}</h1>
    </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {% if featureToggles.ersed and model.isErsedElligible() %}
                    {% if model.viewJourney %}
                        {% if model.isErsedChecked() %}
                            <p class="govuk-body">An Early removal scheme eligibility date (ERSED) was included in this calculation</p>
                        {% endif %}
                    {% else %}
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item float-none">
                                <input aria-describedby="additional-info" class="govuk-checkboxes__input" id="ersed" name="ersed" type="checkbox" value="true" {{ "checked" if model.isErsedChecked() }}/>
                                <label class="govuk-label govuk-checkboxes__label" for="ersed">Include an Early removal scheme eligibility date (ERSED) in this calculation</label>
                                <div id="additional-info" class="govuk-hint govuk-checkboxes__hint">Not applicable for terror or terror-related offences</div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% include "../partials/checkInformation/sentencesAndOffences.njk" %}

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        {% include "../partials/checkInformation/calculateDates.njk" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}