{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "check-information" %}

{% block aside %}
    {% include "../partials/prisonerIdentityBar.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {% if dpsEntryPoint %}
        {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
    {% else %}
        {% set backlink = "/search/prisoners" %}
    {% endif %}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
    </nav>
{% endblock %}

{% block content %}
    {% include "../partials/customErrorBanner.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl" id="check-nomis-heading">Check sentence and offence information for
                {{ prisonerDetail.firstName | title + ' ' + prisonerDetail.lastName | title }}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-8">
            <p class="govuk-body govuk-!-margin-top-2" id="offence-count-text">
                {% set offenceCount = sentencesAndOffences | countOffences %}
                This calculation will include {{ offenceCount }} {{ 'sentence' | pluralise(offenceCount) }} from NOMIS.
            </p>
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Court cases</h2>
            {% include "../partials/checkInformation/sentenceTable.njk" %}

            <div class="govuk-grid-row govuk-!-width-three-quarters">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    {% include "../partials/checkInformation/sentenceAdjustments.njk" %}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    {% include "../partials/checkInformation/calculateDates.njk" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}