{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - calculation summary" %}
{% set pageId = "print-calculation-summary" %}
{% block beforeContent %}
    {{ super() }}
    {% include "../partials/prisonerIdentityBar.njk" %}
    {{ govukBackLink({
        text: "Back",
        href: "/calculation/" + prisonerDetail.offenderNo + "/complete/" + calculationRequestId
    }) }}
{% endblock %}

{% block content %}
    {% include "../partials/formError.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Calculation</h1>
            {% include "../partials/calculationSummaryDates.njk" %}
        </div>
    </div>

    {% include "../partials/calculationSummaryBreakdown.njk" %}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/print.js"></script>
{% endblock %}