{% extends "../../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = applicationName + " - get calculation reason" %}
{% set pageId = "reason" %}

{% block beforeContent %}
    {{ super() }}
    {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: backlink
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                {% if errorMessage|length %}
                    {% set errorMessageText = {text: errorMessage.text} %}
                {% endif %}

                {% if otherErrorMessage|length %}
                    {% set otherErrorText = {text: otherErrorMessage.text  } %}
                    {% set otherValueId = otherErrorMessage.id %}
                    {% set otherText = otherErrorMessage.otherText %}
                {% endif %}

                {% set otherReasonHtml %}
                    {{ govukCharacterCount({
                        id: "other-reason-description",
                        name: "otherReasonDescription",
                        type: "string",
                        autocomplete: "string",
                        maxlength: 120,
                        threshold: 50,
                        classes: "govuk-!-width-two-thirds",
                        errorMessage: otherErrorText,
                        value: otherText,
                        label: {
                            text: "Enter the reason for the calculation"
                        }
                    }) }}
                {% endset %}

                {% set buttons = [ ] %}

                {% for reason in reasons %}
                    {% if reason.isOther %}
                        {% set buttons = (buttons.push(
                            {
                                value: reason.id,
                                text: reason.displayName,
                                isOther: true,
                                conditional: {
                                html: otherReasonHtml },
                                attributes: {'data-qa': 'reasonRadio-'+reason.id}
                            }
                        ), buttons) %}
                    {% else %}
                        {% set buttons = (buttons.push(
                            {
                                value: reason.id,
                                text: reason.displayName,
                                attributes: {'data-qa': 'reasonRadio-'+reason.id}
                            }
                        ), buttons) %}
                    {% endif %}
                {% endfor %}

                {{ govukRadios({
                    name: 'calculationReasonId',
                    fieldset: {
                        legend: {
                            text: "Select a reason for the calculation",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                    },
                    errorMessage: errorMessageText,
                    items: buttons,
                    value: otherValueId
                }) }}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukButton({
                    text: "Continue",
                    type: submit,
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'submitReason' }
                }) }}
                {% set cancelUrl = "/calculation/" + prisonerDetail.offenderNo + "/cancelCalculation?redirectUrl=" + pageCancelRedirectUrl %}
                    <a data-qa="cancel-link"
                        data-prevent-double-click="true" class="govuk-button govuk-!-margin-left-3 govuk-button--secondary no-js-hidden"
                        data-module="govuk-button"
                        href="{{ cancelUrl }}">
                        Cancel
                </a>
            </form>

        </div>
    </div>
{% endblock %}