<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed">
    {% if not adjustments.hasAnyAdjustments() %}
        <p class="govuk-body" data-qa="no-detail-adjust-text">There are no detailed adjustments.</p>
    {% else %}
        {% if adjustments.hasAnyDeductionAdjustments() %}
            <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Deductions</h3>
            {% if adjustments.recallSentenceRemand.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Recall remand</h4>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Dates</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.recallSentenceRemand.details %}
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">From {{ adjustment.from | remandDate('dd MMMM yyyy') }} to {{ adjustment.to | remandDate('dd MMMM yyyy') }}
                                {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                    ({{ adjustment.analysisResult.toLowerCase() }})
                                {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}</td>
                            </tr>
                        {% endfor %}
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.recallSentenceRemand.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if adjustments.remand.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Remand</h4>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Dates</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.remand.details %}
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">From {{ adjustment.from | remandDate('dd MMMM yyyy') }} to {{ adjustment.to | remandDate('dd MMMM yyyy') }}
                                    {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                        ({{ adjustment.analysisResult.toLowerCase() }})
                                    {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}</td>
                            </tr>
                        {% endfor %}
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.remand.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if adjustments.recallSentenceTaggedBail.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Recall tagged bail</h4>
                <!-- Dates -->
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Court case and NOMIS line number</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.recallSentenceTaggedBail.details %}
                            <tr class="govuk-table__row">
                                {% set sentence = model
                                    .sentenceSequenceToSentence
                                    .get(adjustment.sentence) %}
                                <!-- Dates -->
                                <td class="govuk-table__cell">Court case {{sentence.caseSequence}}, NOMIS line number {{sentence.lineSequence}}
                                    {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                        ({{ adjustment.analysisResult.toLowerCase() }})
                                    {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}
                                </td>
                            {% endfor %}
                        </tr>
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.recallSentenceTaggedBail.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if adjustments.taggedBail.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Tagged bail</h4>
                <!-- Dates -->
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Court case and NOMIS line number</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.taggedBail.details %}
                            <tr class="govuk-table__row">
                                {% set sentence = model
                                    .sentenceSequenceToSentence
                                    .get(adjustment.sentence) %}
                                <!-- Dates -->
                                <td class="govuk-table__cell">Court case {{sentence.caseSequence}}, NOMIS line number {{sentence.lineSequence}}
                                    {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                        ({{ adjustment.analysisResult.toLowerCase() }})
                                    {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}
                                </td>
                            {% endfor %}
                        </tr>
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.taggedBail.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if adjustments.restoredAdditionalDaysAwarded.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Restore additional days awarded (RADA)</h4>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Dates</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.restoredAdditionalDaysAwarded.details %}
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">Remitted {{ adjustment.from | hmppsFormatDate('dd MMMM yyyy') }}
                                    {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                        ({{ adjustment.analysisResult.toLowerCase() }})
                                    {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}
                                </td>
                            </tr>
                        {% endfor %}
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.restoredAdditionalDaysAwarded.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if adjustments.unusedRemand.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Unused deductions</h4>
                {% if adjustments.unusedRemand.details.length == 1 %}
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key column-width-eighty-percent govuk-!-text-align-right">
                            Total days
                            </dt>
                            <dd data-qa="unused-deductions-total-days" class="govuk-summary-list__value">
                            {{adjustments.unusedRemand.aggregate}}
                            </dd>
                        </div>
                    </dl>
                {% else %}
                    <table class="govuk-table govuk-!-margin-bottom-8">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Dates</th>
                                <th class="govuk-table__header" scope="col">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for adjustment in adjustments.unusedRemand.details %}
                                <tr class="govuk-table__row">
                                    <!-- Dates -->
                                    <td class="govuk-table__cell">
                                        {% if adjustment.from or adjustment.to %}
                                            From {{ adjustment.from | hmppsFormatDate('dd MMMM yyyy') }} to {{ adjustment.to | hmppsFormatDate('dd MMMM yyyy') }}
                                        {% endif %}
                                        {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                            ({{ adjustment.analysisResult.toLowerCase() }})
                                        {% endif %}</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">{{adjustment.days}}</td>
                                </tr>
                            {% endfor %}
                            <!-- Total -->
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustments.unusedRemand.aggregate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if adjustments.hasAnyAdditionAdjustments() %}
            <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Additions</h3>
            {% if adjustments.additionalDaysAwarded.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Additional days awarded (ADA)</h4>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Dates</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.additionalDaysAwarded.details %}
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">Awarded {{ adjustment.from | hmppsFormatDate('dd MMMM yyyy') }}
                                    {% if adjustment.analysisResult?? and adjustment.analysisResult === 'NEW' %}
                                        ({{ adjustment.analysisResult.toLowerCase() }})
                                    {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}
                                </td>
                            </tr>
                        {% endfor %}
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.additionalDaysAwarded.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if adjustments.unlawfullyAtLarge.aggregate != 0 %}
                <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Unlawfully at large (UAL)</h4>
                <table class="govuk-table govuk-!-margin-bottom-8">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Dates</th>
                            <th class="govuk-table__header" scope="col">Days</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for adjustment in adjustments.unlawfullyAtLarge.details %}
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">{{ adjustment.from | hmppsFormatDate('dd MMMM yyyy') }} to {{ adjustment.to | hmppsFormatDate('dd MMMM yyyy') }}
                                    {% if adjustment.analysisResult?? and adjustment.analysisResult !== 'SAME' %}
                                        ({{ adjustment.analysisResult.toLowerCase() }})
                                    {% endif %}
                                </td>
                                <!-- Days -->
                                <td class="govuk-table__cell">{{adjustment.days}}
                                </td>
                            </tr>
                        {% endfor %}
                        <!-- Total -->
                        <tr class="govuk-table__row">
                            <!-- Dates -->
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                            <!-- Days -->
                            <td class="govuk-table__cell">{{adjustments.unlawfullyAtLarge.aggregate}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    {% endif %}
</div>