<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
                If you think some information is wrong, you can edit it in NOMIS and <a href="">reload this page</a>.
            </div>
    </div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-top-6" data-qa="now-crd-title">Now calculate release dates</h2>
{% if model.isErsedElligible() %}
    {% if model.viewJourney == false %}
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-6" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item float-none">
                <input aria-describedby="additional-info" class="govuk-checkboxes__input" id="ersed" name="ersed" type="checkbox" value="true" {{ "checked" if model.isErsedChecked() }}/>
                <label class="govuk-label govuk-checkboxes__label" for="ersed">Include an Early removal scheme eligibility date (ERSED) in this calculation</label>
                <div id="additional-info" class="govuk-hint govuk-checkboxes__hint">Not applicable for terror or terror-related offences</div>
            </div>
        </div>
    {% endif %}
{% endif %}
<p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
<br/>
{{ govukButton({
        text: "Calculate release dates",
        type: submit,
        value: 'calculate-release-dates',
        preventDoubleClick: true,
        attributes: {  'data-qa': 'calculate-release-dates' }
    }) }}