{% from "./courtCaseDetails.njk" import courtCaseDetails %}
{% from "./sentenceTable.njk" import sentenceTable %}

<p class="govuk-body govuk-!-margin-top-2" id="offence-count-text">
                This calculation will include {{ offenceCount }}
        {{ 'sentence' | pluralise(offenceCount) }} from NOMIS.
            </p>
<h2 class="govuk-heading-l govuk-!-margin-top-6">Court cases</h2>

<div id="sentences">
        {% for case in cases %}
                {{ courtCaseDetails({case: case, includeCaseDetails: true}) }}
                {{ sentenceTable({
                        case: case,
                        includeCheckboxes: false,
                        includeConcurrentOrConsecutiveText: true,
                        includeSDSPlusBadge: true,
                        sentenceSequenceToSentence: sentenceSequenceToSentence,
                        offenceCount:offenceCount,
                        returnToCustodyDate:returnToCustodyDate,
                        userInputs: userInputs,
                        rowIsSdsPlus: rowIsSdsPlus,
                        includeSentenceType: true
                        }) 
                }}
        {% endfor %}
</div>

{% include "./sentenceAdjustments.njk" %}