<table class="govuk-table adjudications additions">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header"></th>
        <th class="govuk-table__header"></th>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Additional days awarded (ADA)</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.additionalDaysAwarded | default(nilIndicator, true) }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of days unlawfully at large (UAL)</td>
        <td class="govuk-table__cell">{{ adjustmentDetails.unlawfullyAtLarge | default(nilIndicator, true) }}</td>

    </tr>
    </tbody>
</table>
