{% from "./courtCaseDetails.njk" import courtCaseDetails %}
{% from "./sentenceCard.njk" import sentenceCard %}

<p class="govuk-body govuk-!-margin-top-2" id="offence-count-text">
                This calculation will include {{ model.offenceCount }}
        {{ 'sentence' | pluralise(model.offenceCount) }} from NOMIS.
            </p>

{% if model.viewJourney %}
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item float-none">
                        <input class="govuk-checkboxes__input" id="ersed" name="ersed" type="checkbox" value="true" {{ "checked" if model.isErsedChecked() }}/>
                        <label class="govuk-label govuk-checkboxes__label" for="ersed">Include an Early release scheme eligibility date (ERSED)</label>
                        <div class="govuk-hint govuk-checkboxes__hint">Not applicable for terror or terror-related offences</div>
                </div>
        </div>
{% endif %}
<div id="sentences" class="govuk-!-margin-top-8">
        {% for case in model.cases %}
                {{ courtCaseDetails({case: case, includeCaseDetails: true}) }}
                {{ sentenceCard({
                        case: case,
                        includeCheckboxes: false,
                        includeConcurrentOrConsecutiveText: true,
                        includeSDSPlusBadge: true,
                        sentenceSequenceToSentence: model.sentenceSequenceToSentence,
                        offenceCount: model.offenceCount,
                        returnToCustodyDate: model.returnToCustodyDate,
                        userInputs: model.userInputs,
                        rowIsSdsPlus: model.rowIsSdsPlus
                        }) 
                }}
        {% endfor %}
</div>

{% set adjustments = model.adjustments %}
{% include "./sentenceAdjustments.njk" %}