{% from "./courtCaseDetails.njk" import courtCaseDetails %}
{% from "./sentenceCard.njk" import sentenceCard %}

<p class="govuk-body govuk-!-margin-top-2" id="offence-count-text">
                This calculation will include {{ model.offenceCount }}
        {{ 'sentence' | pluralise(model.offenceCount) }} from NOMIS.
            </p>
<div id="sentences" class="govuk-!-margin-top-8">
        {% for case in model.cases %}
                {{ courtCaseDetails({case: case, includeCaseDetails: true}) }}
                {{ sentenceCard({
                        case: case,
                        includeCheckboxes: false,
                        includeConcurrentOrConsecutiveText: true,
                        includeSDSPlusBadge: true,
                        sentenceSequenceToSentence: model.sentenceSequenceToSentence,
                        offenceCount: model.offenceCount,
                        returnToCustodyDate: model.returnToCustodyDate,
                        userInputs: model.userInputs,
                        rowIsSdsPlus: model.rowIsSdsPlus
                        }) 
                }}
        {% endfor %}
</div>

{% set adjustments = model.adjustments %}
{% include "./sentenceAdjustments.njk" %}