<table class="govuk-table adjudications additions">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header"></th>
        <th class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of days on remand</td>
        <td class="govuk-table__cell">
            {{ adjustmentDetails.remand | default(nilIndicator, true) }}
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Number of days tagged bail</td>
        <td class="govuk-table__cell">
            {{ adjustmentDetails.taggedBail | default(nilIndicator, true) }}
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
        <td class="govuk-table__cell">
            {{ adjustmentDetails.restoredAdditionalDaysAwarded | default(nilIndicator, true) }}
        </td>
    </tr>
    </tbody>
</table>
