{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% set sdsPlusBannerHtml %}
    <h2 class="govuk-heading-m">Important</h2>
    <p class="govuk-body">This service has identified one or more sentences where the release date is calculated at two thirds (SDS+).</p>
    <p class="govuk-body">Make sure a peach calculation sheet has been used to calculate the release dates.</p>
    <p class="govuk-body">If a sentence has been incorrectly identified as SDS+, email <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a>.</p>
{% endset %}
{{ mojBanner({
    type: ' ',
    html: sdsPlusBannerHtml,
    attributes: { 'data-qa': 'sds-plus-notification-banner' }
}) }}