{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    Authorisation Error
  </h1>
  <p>
    You are not authorised to use this application.
  </p>
{% endblock %}
