{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - prisoner search" %}
{% set pageId = "prisoner-search" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-4" data-qa="prisoner-search-section">
    <div id="prisoner-search-container">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {% if view %}Lookup a person to see their release dates{% else %}Search for a prisoner{% endif %}
        </h1>
      </div>

      <div class="govuk-grid-column-full">
        <p class="govuk-body">You can search using a person’s name or prison number.</p>
        {% include "../partials/prisonerSearch.njk" %}
        {% include "../partials/prisonerSearchTable.njk" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}