{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - prisoner search" %}
{% set pageId = "prisoner-search" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-4" data-qa="prisoner-search-section">
    <div class="govuk-grid-column-full">
      <div id="prisoner-search-container">
        <h1 class="govuk-heading-xl">Search for a prisoner</h1>
        <p>You can search using a person’s name or prison number.</p>
        {% include "../partials/prisonerSearch.njk" %}
        {% include "../partials/prisonerSearchTable.njk" %}
      </div>
    </div>
  </div>
{% endblock %}