{% macro addCalculationRow(calculation, rowNum) %}
    {% set calculationType = calculation.calculationType %}
    {% if calculation.calculationSource === 'NOMIS' %}
        {% set source = "NOMIS" %}
    {% else %}
        {% if calculationType.startsWith("MANUAL") %}
            {% set source = "Paper calculation" %}
        {% elseif calculationType === 'GENUINE_OVERRIDE' %}
            {% set source = "User Override" %}
        {% else %}
            {% set source = "Calculate release dates service" %}
        {% endif %}
    {% endif %}

    {% set establishment = calculation.establishment %}

    {% if calculation.calculatedByDisplayName %}
        {% set calculatedByDisplayName = calculation.calculatedByDisplayName %}
    {% else %}
        {% set calculatedByDisplayName = null %}
    {% endif %}

    {% if calculation.calculationReason %}
        {% set reason = calculation.calculationReason %}
    {% else %}
        {% set reason = 'Not entered' %}
    {% endif %}

    <tr class="govuk-table__row" data-qa="calculation-history-table-data-{{ rowNum }}">
        {% if calculation.calculationSource === 'NOMIS' %}
            <td class="govuk-table__cell"><a class="govuk-link" href="/view/{{ calculation.offenderNo }}/nomis-calculation-summary/{{calculation.offenderSentCalculationId}}">{{ calculation.calculationDate | date('DD MMMM YYYY') }}</a></td>
        {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="/view/{{ calculation.offenderNo }}/sentences-and-offences/{{ calculation.calculationRequestId }}">{{ calculation.calculationDate | date('DD MMMM YYYY') }}</a></td>
        {% endif %}
        <td class="govuk-table__cell">{{ reason }}</td>
        <td class="govuk-table__cell">{{ calculatedByDisplayName | capitaliseName }}{% if calculatedByDisplayName and establishment %} at {% endif %}{{ establishment }}</td>
        <td class="govuk-table__cell">{{ source }}
            {% if source === 'Paper calculation' %}
                <br/><span class="govuk-!-font-size-16 govuk-hint">Entered in the Calculate release dates service</span>
            {% elseif calculationType === 'GENUINE_OVERRIDE' %}
                <br/><span class="govuk-!-font-size-16 govuk-hint">{{ calculation.genuineOverrideReasonDescription }}</span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

<h3 class="govuk-heading-l">Calculation history</h3>
<table class="govuk-table" data-qa="calculation-history-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row" data-qa="calculation-history-table-headings">
            <th scope="col" class="govuk-table__header">Calculation date</th>
            <th scope="col" class="govuk-table__header">Calculation reason</th>
            <th scope="col" class="govuk-table__header">Calculated by</th>
            <th scope="col" class="govuk-table__header">Source</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for calculation in calculationHistory %}
            {{ addCalculationRow(calculation, loop.index) }}
        {% endfor %}
    </tbody>
</table>
