{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/calculation-summary-dates-card/macro.njk" import calculationSummaryDatesCard %}
{% from "../components/approved-summary-dates-card/macro.njk" import approvedSummaryDatesCard %}

{% set pageTitle = applicationName + " - calculation summary" %}
{% set pageId = "view-calculation-summary" %}

{% block beforeContent %}
    {{ super() }}

    {% set backlink = "/?prisonId=" + model.nomsId %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: backlink
        }) }}
    </nav>
{% endblock %}

{% block content %}
    {% set validationErrors = model.validationErrors %}
    {% include "../partials/customErrorBanner.njk" %}
    {% include "../partials/ersedRecallNotificationBanner.njk" %}
    {% include "../partials/ersedCannotHappenNotificationBanner.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Calculation details</h1>

            {% set isManualCalc = (model.calculationType != null) and (model.calculationType.startsWith("MANUAL")) %}
            {% set isGenuineOverride = (model.calculationType != null) and (model.calculationType === "GENUINE_OVERRIDE") %}

            {% if model.calculationReason.isOther %}
                {% set reason = "Other (" + model.otherReasonDescription + ")" %}
            {% elseif model.calculationReason.requiresFurtherDetail %}
                {% set reason %}
                    <p class="govuk-body">{{ model.calculationReason.displayName }}</p>
                    <p class="govuk-body govuk-hint govuk-!-font-size-16">({{ model.otherReasonDescription }})</p>
                {% endset %}
            {% else %}
                {% set reason = model.calculationReason.displayName %}
            {% endif %}

            {% if model.calculationReason|length %}
                {% set source = "Calculate release dates service" %}
                {% if model.calculationSource === 'NOMIS' %}
                    {% set source = "NOMIS" %}
                {% elseif isManualCalc %}
                    {% set source %}
                        Paper calculation
                        <br>
                        <span class="govuk-!-font-size-16 govuk-hint">Entered in the Calculate release dates service</span>
                    {% endset %}
                {% elseif isGenuineOverride %}
                    {% set source %}
                        User Override
                        <br>
                        <span class="govuk-!-font-size-16 govuk-hint">{{ model.genuineOverrideReasonDescription }}</span>
                    {% endset %}
                {% endif %}
                {% set calculatedByText %}{{ model.calculatedByDisplayName }}{% if model.calculatedByDisplayName and model.calculatedAtPrisonDescription %} at {% endif %}{{ model.calculatedAtPrisonDescription }}{% endset %}
                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                            text: "Calculation date",
                            classes: "custom-summary-list__key"
                        },
                            value: {
                            text: model.calculationDate
                        }
                        },{
                            key: {
                                text: "Calculation reason",
                                classes: "custom-summary-list__key"
                            },
                            value: {
                                html: reason
                            }
                        },{
                            key: {
                                text: "Calculated by",
                                classes: "custom-summary-list__key"
                            },
                            value: {
                                text: calculatedByText
                            }
                        },{
                            key: {
                                text: "Source",
                                classes: "custom-summary-list__key"
                            },
                            value: {
                                html: source,
                                classes: "summary-source-value"
                            }
                        }]
                }) }}
            {% endif %}
        </div>
    </div>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" data-qa="sub-nav-sent-and-off"
                   href={{ "/view/" + nomsId + "/sentences-and-offences/" + model.calculationRequestId }}>Sentence and
                    offence information</a>
            </li>
            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" data-qa="sub-nav-calc-summary" aria-current="page"
                   href={{ "/view/" + nomsId + "/calculation-summary/" + model.calculationRequestId }}>Calculation
                    summary</a>
            </li>
        </ul>
    </nav>

    <a data-qa="slip-establishment-copy" data-prevent-double-click="true"
       class="govuk-button govuk-button--secondary no-js-hidden govuk-!-margin-bottom-0" data-module="govuk-button"
       href="{{ "/view/" + model.nomsId + "/calculation-summary/" + model.calculationRequestId + "/print" }}">
        Print calculation summary
    </a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l govuk-!-margin-top-9">Release dates</h2>
            {{ calculationSummaryDatesCard(calculationSummaryDatesCardModel) }}
        </div>
    </div>

    {% if model.approvedDates %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l govuk-!-margin-top-9">Manual dates</h2>
                {{ approvedSummaryDatesCard(approvedSummaryDatesCardModel) }}
            </div>
        </div>
    {% endif %}
    {% if isManualCalc == false and isGenuineOverride == false %}
        <div class="govuk-grid-row" id="calculation-summary-faq">
            <div class="govuk-grid-column-two-thirds">
                {% include "../partials/calculationSummary/detailsMissingInset.njk" %}
                {% include "../partials/calculationSummary/howDatesCalculatedInset.njk" %}
            </div>
        </div>
    {% endif %}

    {% if isGenuineOverride %}
    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
    {{ govukInsetText({
        html: "These release dates were entered manually to override CRDS calculated dates. <br/> You can <a href='" + model.calculationRequestId + "/overrides/'>view more details about the override</a>.",
        id: "calculation-overrides-link"
    }) }}
    {% endif %}

    {% include "../partials/calculationSummaryBreakdown.njk" %}

{% endblock %}