{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../components/calculation-summary-dates-card/macro.njk" import calculationSummaryDatesCard %}

{% set pageTitle = applicationName + " - calculation summary" %}
{% set pageId = "view-calculation-summary" %}

{% block beforeContent %}
    {{ super() }}

    {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
      <nav>
         {{ govukBackLink({
              text: "Back",
              href: backlink
            })
         }}
      </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="moj-width-container govuk-!-margin-top-6">
            <h1 class="govuk-heading-xl" data-qa="calculation-title">Calculation details</h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key custom-summary-list__key" data-qa="calculation-date-title">Date of calculation</dt>
                            <dd class="govuk-summary-list__value" data-qa="calculation-date">{{ calculatedAt | hmppsFormatDate('dd MMMM yyyy') }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key custom-summary-list__key" data-qa="calculation-reason-title">Reason</dt>
                            <dd class="govuk-summary-list__value" data-qa="calculation-reason">{{ reason }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key custom-summary-list__key" data-qa="calculated-by-title">Calculated by</dt>
                            <dd class="govuk-summary-list__value" data-qa="calculated-by">{{ calculatedByDisplayName | capitaliseName }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key custom-summary-list__key" data-qa="calculation-source-title">Source</dt>
                            <dd class="govuk-summary-list__value" data-qa="calculation-source">{{ source }}
                                {% if source === 'Paper calculation' %}
                                    <br/><span class="govuk-!-font-size-16 govuk-hint">Entered in the Calculate release dates service</span>
                                {% endif %}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="moj-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-l">Release dates</h2>
                    {{ calculationSummaryDatesCard(calculationSummaryDatesCardModel) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}