{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "view-sentences-and-offences" %}

{% block beforeContent %}
    {{ super() }}
    {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl" id="check-nomis-heading" data-qa="sentAndOff-title">Sentence and offence information</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if model.isErsedElligible() %}
                {% if model.viewJourney %}
                    {% if model.isErsedChecked() %}
                        <p class="govuk-body">An Early removal scheme eligibility date (ERSED) was included in this calculation</p>
                    {% endif %}
                {% else %}
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item float-none">
                            <input aria-describedby="additional-info" class="govuk-checkboxes__input" id="ersed" name="ersed" type="checkbox" value="true" {{ "checked" if model.isErsedChecked() }}/>
                            <label class="govuk-label govuk-checkboxes__label" for="ersed">Include an Early removal scheme eligibility date (ERSED) in this calculation</label>
                            <div id="additional-info" class="govuk-hint govuk-checkboxes__hint">Not applicable for terror or terror-related offences</div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% include "../partials/checkInformation/sentencesAndOffences.njk" %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <nav class="pagination" role="navigation" aria-label="Pagination">
            <ul class="pagination__list">
                <li class="pagination__item pagination__item--next">
                    <a href={{"/view/" + nomsId + "/calculation-summary/" + calculationRequestId}} class="govuk-link pagination__link" data-qa="next-page-button">
                        <span class="pagination__link-title">
                            <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                            <span class="pagination__link-text">Next page</span>
                        </span>
                        <span class="pagination__link-divider visually-hidden">:</span>
                        <span class="pagination__link-label">Release dates</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}