{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "view-sentences-and-offences" %}

{% block beforeContent %}
    {{ super() }}
    {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: backlink
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl" id="check-nomis-heading" data-qa="sentAndOff-title">Calculation details</h1>
            {% if model.calculationReason.isOther %}
                {% set reason = "Other (" + model.otherReasonDescription + ")" %}
            {% else %}
                {% set reason = model.calculationReason.displayName %}
            {% endif %}

            {% set isManualCalc = (model.calculationType != null) and (model.calculationType.startsWith("MANUAL")) %}
            {% set isGenuineOverride = (model.calculationType != null) and (model.calculationType === "GENUINE_OVERRIDE") %}

            {% set source = "Calculate release dates service" %}
            {% if model.calculationSource === 'NOMIS' %}
                {% set source = "NOMIS" %}
            {% elseif isManualCalc %}
                {% set source %}
                    Paper calculation
                    <br>
                    <span class="govuk-!-font-size-16 govuk-hint">Entered in the Calculate release dates service</span>
                {% endset %}
            {% elseif isGenuineOverride %}
                {% set source %}
                    User Override
                    <br>
                    <span class="govuk-!-font-size-16 govuk-hint">{{ model.genuineOverrideReasonDescription }}</span>
                {% endset %}
            {% endif %}

            {% set calculatedByText %}{{ model.calculatedByDisplayName }}{% if model.calculatedByDisplayName and model.calculatedAtPrisonDescription %} at {% endif %}{{ model.calculatedAtPrisonDescription }}{% endset %}

            {% if model.calculationReason|length %}
                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                            text: "Calculation date",
                            classes: "custom-summary-list__key"
                        },
                            value: {
                            text: model.calculationDate
                        }
                        },
                        {
                            key: {
                            text: "Calculation reason",
                            classes: "custom-summary-list__key"
                        },
                            value: {
                            text: reason
                        }
                        },
                        {
                            key: {
                            text: "Calculated by",
                            classes: "custom-summary-list__key"
                        },
                            value: {
                            text: calculatedByText
                        }
                        },
                        {
                            key: {
                            text: "Source",
                            classes: "custom-summary-list__key"
                        },
                        value: {
                            html: source,
                            classes: 'summary-source-value'
                        }
                        }]
                }) }}
            {% endif %}
        </div>
    </div>

    <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" data-qa="sub-nav-sent-and-off" aria-current="page" href={{"/view/" + nomsId + "/sentences-and-offences/" + calculationRequestId}}>Sentence and offence information</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" data-qa="sub-nav-calc-summary" href={{"/view/" + nomsId + "/calculation-summary/" + calculationRequestId}}>Calculation summary</a>
        </li>
      </ul>
    </nav>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if model.isErsedChecked() %}
                    <div class="govuk-!-margin-top-6">
                        <p class="govuk-body">An Early removal scheme eligibility date (ERSED) was included in this calculation</p>
                     </div>
            {% endif %}
            {% include "../partials/checkInformation/sentencesAndOffences.njk" %}
        </div>
    </div>
{% endblock %}