{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "view-sentences-and-offences" %}

{% block beforeContent %}
    {{ super() }}
    {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl" id="check-nomis-heading" data-qa="sentAndOff-title">Sentence and offence information</h1>
            {% if model.calculationReason.isOther %}
                {% set reason = "Other (" + model.otherReasonDescription + ")" %}
            {% else %}
                {% set reason = model.calculationReason.displayName %}
            {% endif %}

            {% if model.calculationReason|length %}
                <h2 class="govuk-heading-m">Calculation details</h2>
                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                        {
                            key: {
                            text: "Date"
                        },
                            value: {
                            text: model.calculationDate
                        }
                        },{
                            key: {
                                text: "Reason"
                            },
                            value: {
                                text: reason
                            }
                        }]
                }) }}
            {% endif %}
        </div>
    </div>

    <nav class="moj-sub-navigation govuk-!-margin-bottom-0" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" data-qa="sub-nav-sent-and-off" aria-current="page" href={{"/view/" + nomsId + "/sentences-and-offences/" + calculationRequestId}}>Sentence and offence information</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" data-qa="sub-nav-calc-summary" href={{"/view/" + nomsId + "/calculation-summary/" + calculationRequestId}}>Calculation Summary</a>
        </li>
      </ul>
    </nav>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if model.isErsedEligible() %}
                {% if model.viewJourney %}
                    {% if model.isErsedChecked() %}
                    <div class="govuk-!-margin-top-6">
                        <p class="govuk-body">An Early removal scheme eligibility date (ERSED) was included in this calculation</p>
                     </div>
                    {% endif %}
                {% else %}
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item float-none">
                            <input aria-describedby="additional-info" class="govuk-checkboxes__input" id="ersed" name="ersed" type="checkbox" value="true" {{ "checked" if model.isErsedChecked() }}/>
                            <label class="govuk-label govuk-checkboxes__label" for="ersed">Include an Early removal scheme eligibility date (ERSED) in this calculation</label>
                            <div id="additional-info" class="govuk-hint govuk-checkboxes__hint">Not applicable for terror or terror-related offences</div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% include "../partials/checkInformation/sentencesAndOffences.njk" %}
        </div>
    </div>
{% endblock %}