@media print {
  .govuk-back-link {
    display: none;
  }

  .no-print {
    display: none;
  }

  @page {
    size: A4 portrait;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1.5cm;
    margin-top: 1.5cm;

    h1, h2, h3, h4, h5 {
      page-break-after: avoid;
    }

    table, figure, dl {
      page-break-inside: avoid;
    }

    .dont-break {
      page-break-inside: avoid;
    }

  }

  footer {
    display: none;
  }

  .offender-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 2px;
    width: 21cm;
  }

  .establishment-title  {
    width: 21cm;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 2px;
  }

  .govuk-grid-row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .govuk-grid-column-full {
    margin-right: 0px;
    margin-left: 0px;
  }

  .print-width-container {
    max-width: 21cm;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .print-button {
    display: none;
  }

  .govuk-body {
    font-size: 14pt;
    line-height: 1.3;
  }

  .govuk-table {
    font-size: 14pt;
    line-height: 1;
  }

  .govuk-summary-list {
    font-size: 14pt;
    line-height: 1;
  }

  .govuk-heading-xl {
    margin-bottom: 30px;
  }

  .govuk-heading-l {
    margin-bottom: 30px;
  }

  .notification-slip .govuk-summary-list__key {
    width: 250px;
  }
}
