$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';
@import 'hmpps/all';

@import './components/buttons';
@import './components/calculation-results';
@import './components/cards';
@import './components/contents-list';
@import './components/custom-errors';
@import './components/header-bar';
@import './components/horizontal-form';
@import './components/identity-bar';
@import './components/pagination';
@import './components/gds-card';
@import './components/gds-header';
@import './components/gds-result';
@import './print';
@import './local';
@import './components/summary-list';
@import './components/fallback-footer';
@import './components/fallback-header-bar';
@import './components/comparison';
@import 'dist/accessible-autocomplete.min';
@import './_notification-slip';
@import './components/adjustments';
