{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = applicationName + " - calculation summary" %}
{% set pageId = "genuine-overrides-calculation-summary" %}

{% block aside %}
    {% set prisonerDetail = model.prisonerDetail %}
    {% include "../partials/prisonerIdentityBar.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBackLink( {
            text: "Check sentence and offence information",
            href: "/specialist-support/calculation/" + calculationReference + "/sentence-and-offence-information"
        }) }}
    </nav>
{% endblock %}

{% block content %}
    {% set validationErrors = model.validationErrors %}
    {% if formError %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: "You must select either 'Yes' or 'No' before continuing",
                    href: "#releaseDatesQuestion"
                }
            ]
        }) }}
    {% endif %}
    {% include "../partials/calculationSummary/summarySection.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form method="post">
                {% if formError %}
                <div id="releaseDatesQuestion">
                    {{ govukRadios({
                        name: "doYouAgree",
                        fieldset: {
                            legend: {
                                text: "Do you agree with these release dates?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--l govuk-!-margin-top-4"
                            }
                        },
                        items: [
                            {
                                value: "yes",
                                text: "Yes, I agree with these dates"
                            },
                            {
                                value: "no",
                                text: "No, I need to override these dates",
                                attributes: {
                                disabled: true
                            }
                            }
                        ],
                        errorMessage: {
                            text: "You must select either 'Yes' or 'No' before continuing"
                        }
                    }) }}
                    {% else %}
                        {{ govukRadios({
                            name: "doYouAgree",
                            fieldset: {
                                legend: {
                                    text: "Do you agree with these release dates?",
                                    isPageHeading: true,
                                    classes: "govuk-fieldset__legend--l govuk-!-margin-top-4"
                                }
                            },
                            items: [
                                {
                                    value: "yes",
                                    text: "Yes, I agree with these dates"
                                },
                                {
                                    value: "no",
                                    text: "No, I need to override these dates"
                                }
                            ]
                        }) }}
                    {% endif %}
                    {{ govukButton({
                        text: "Continue",
                        value: 'continue',
                        preventDoubleClick: true,
                        type: submit,
                        attributes: { 'data-qa': 'override-continue' }
                    }) }}
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            </form>
        </div>
    </div>
{% endblock %}