{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - determinate manual entry" %}
{% set pageId = "determinate selection" %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBackLink({
            text: "Review sentence and offence information",
            href: "/specialist-support/calculation/" + calculationReference + "/sentence-and-offence-information"
        }) }}
    </nav>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check the dates you have entered</h1>
            {{ govukSummaryList({
                rows: rows
            }) }}
            <p class="govuk-body govuk-!-margin-bottom-8">
                <a href="/specialist-support/calculation/{{ calculationReference }}/select-date-types?addExtra=true"
                   class="govuk-link govuk-link--no-visited-state">Add another release date</a>
            </p>
        </div>
    </div>
    <div>
        <h2 class="govuk-heading-m">Confirm and save to NOMIS</h2>
        <p class="govuk-body">By saving this calculation you are confirming that, to the best of your knowledge, it is
            correct. These dates will be saved in NOMIS as a manual calculation.</p>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            {{ govukButton({
                text: "Confirm and save to NOMIS",
                type: submit,
                value: 'submit-override',
                preventDoubleClick: true,
                attributes: {  'data-qa': 'submit-override' }
            }) }}
        </form>
    </div>
{% endblock %}