{% extends "../../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - calculation complete" %}
{% set pageId = "calculation-complete" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">

                {% if noDates %}
                    {% include "../partials/complete/calculationSavedNoDates.njk" %}
                {% else %}
                    {% include "../partials/complete/calculationSavedCalculated.njk" %}
                {% endif %}
            </div>


            <div class="govuk-!-margin-top-8">
                <h3 class="govuk-heading-m">
                    What to do next
                </h3>
                <p class="govuk-body">
                    Contact the OMU staff member and tell them why the CRDS calculation was correct.<br>
                    <a href="mailto:?subject=Calculation query for {{ prisonerDetail.firstName | title }} {{ prisonerDetail.lastName | title }}&body={{ emailContent }}">Email OMU</a>
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="/specialist-support/search">Look up another calculation</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}