{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = "specialistSupportIndex" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading" id="main-heading">
                Specialist support team override tool
            </h1>
            <p class="govuk-body">
                Use this tool to lookup, check and make changes to preliminary calculations from the Calculate release dates service.
            </p>
            {% if calculationReference %}
                {% set startlink = "/specialist-support/calculation/" + calculationReference + "/sentence-and-offence-information" %}
            {% else %}
                {% set startlink = "/specialist-support/search" %}
            {% endif %}
            {{ govukButton({
                text: "Start now",
                href: startlink,
                classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
                isStartButton: true,
                attributes: { 'data-qa': 'start-now-button', 'aria-describedby': 'main-heading'}
            }) }}
        </div>
    </div>
{% endblock %}