{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = "specialistSupportIndex" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading" id="main-heading">
                Report a problem with the calculation
            </h1>
            <div class="govuk-body">
                <p>
                    You can report a problem with the calculation if:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the details on the warrant do not match what is being taken into the
                        calculation
                    </li>
                    <li>you think the dates calculated by the service are incorrect</li>
                    <li>the calculation includes terrorism or terrorism-related offences</li>
                </ul>
                <h2 class="govuk-heading-m">To report a problem</h2>
                <ol class="govuk-list govuk-list--number">
                    <li >Open a new email addressed to <a href="mailto:specialistsupportteam@digital.justice.gov.uk?subject=Ref {{ calculationReference }}" class="govuk-link">specialistsupportteam@digital.justice.gov.uk</a></li>
                    <li>Include this reference number in the email's subject line: <div>{{ calculationReference }}.</div></li>
                    <li>Explain the problem in the email.</li>
                    <li>Attach all of the relevant court documents.</li>
                    <li>Tell the team if you need the calculation to include APD, HDCAD, ROTL or ERSED.</li>
                    <li>Send the email to the specialist support team. They should respond within 2 working days.</li>
                </ol>
                <p>
                    <a class=govuk-link
                       href={{ "/calculation/" + prisonerDetail.offenderNo + "/summary/" + calculationRequestId }}>Back</a>
                </p>
                <p>
                    <a class=govuk-link href="/search/prisoners">Search for another person</a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}