.govuk-button {
  // Custom blue button style modifier
  &--tertiary {
    $link-button-colour: govuk-colour('blue');

    background: $link-button-colour;

    &:hover {
      background: govuk-shade($link-button-colour, 30%);
    }
  }
}
