.custom-card {
  border: 1px solid #bfc1c3;
  padding: 20px 20px 0px 20px;
  margin: 30px 0;
  background-color: #ffffff;
}

.custom-card-main:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-summary-list__row:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}