.calculation-history-table-first-column {
  width: 25%
}
.calculation-history-table-second-column {
  width: 30%
}
.calculation-history-table-third-column {
  width: 25%
}
.calculation-history-table-fourth-column {
  width: 20%
}
