{% extends "../../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Compare Release Dates" %}
{% set pageId = "compare" %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block javascripts %}
    <script src="/assets/accessible-autocomplete.min.js"></script>
    <script id="autocomplete-script" src="/assets/js/autoCompletePrisonName.js"></script>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" method="post" action="/compare/run">
                <h1 class="govuk-heading-xl">Select a prison for bulk comparison</h1>


                <h2 class="govuk-heading-m">Enter the prison name</h2>

                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukSelect({
                    name: "selectedOMU",
                    id: "prison-name",
                    placeholder: "Start typing the name of the prison",
                    items: caseloadItems
                }) }}

                <input type="hidden" name="comparisonType" value="ESTABLISHMENT_FULL"/>

                {{ govukButton({
                    text: "Continue",
                    type: submit,
                    value: 'submit-date',
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'date-entry' }
                }) }}

            </form>
        </div>
    </div>

{% endblock %}