{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Compare Release Dates" %}
{% set pageId = "compare" %}

{% block content %}

    <div class="browse__header-wrapper govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="browse__heading govuk-heading-xl">
                    Bulk comparison
                </h1>
                <p class="gem-c-lead-paragraph gem-c-lead-paragraph--inverse govuk-!-margin-bottom-2">
                    Compare the release dates that have been calculated by staff, NOMIS and the Calculate release dates service.
                </p>
            </div>
        </div>
    </div>


    <div class="gem-c-cards">

        <ul class="gem-c-cards__list" data-track-count="cardList">

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper">
                    <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                        <a
                            class="govuk-link gem-c-cards__link"
                            href="/compare/choose">
                            Perform a bulk comparison
                        </a>
                    </h2>
                    <p class="govuk-body gem-c-cards__description">Identify and compare any differences in the release dates calculated by staff, NOMIS and the Calculate release dates service.</p>
                </div>
            </li>

            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper">
                    <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                        <a
                            class="govuk-link gem-c-cards__link"
                            href="/compare/list">
                            View previous comparisons
                        </a>
                    </h2>
                    <p class="govuk-body gem-c-cards__description">Review the results of previously performed calculations.</p>
                </div>
            </li>

            {% if allowManualComparison %}

                <li class="gem-c-cards__list-item">
                    <div class="gem-c-cards__list-item-wrapper">
                        <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                            <a class="govuk-link gem-c-cards__link"
                                href="/compare/manual">
                                Manual bulk comparison
                            </a>
                        </h2>
                        <p class="govuk-body gem-c-cards__description">Compare differences in the release dates between Staff, NOMIS and those calculated by the Calculate Release Dates service for NOMIS references provided.</p>
                    </div>
                </li>

                <li class="gem-c-cards__list-item">
                    <div class="gem-c-cards__list-item-wrapper">
                        <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                            <a class="govuk-link gem-c-cards__link"
                               href="/compare/manual/list">
                                View manual comparisons
                            </a>
                        </h2>
                        <p class="govuk-body gem-c-cards__description">Review the results of previously performed calculations.</p>
                    </div>
                </li>


            {% endif %}
        </ul>
    </div>

{% endblock %}
