{% extends "../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Compare Release Dates" %}
{% set pageId = "compare" %}


{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                },
                {
                    text: "List",
                    href: "/compare/list"
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block content %}


    <h1 class="govuk-heading-xl">Bulk Comparisons</h1>

    <ul class="gem-c-document-list gem-c-document-list--no-underline">
        {% for comparison in comparisons %}
            <li class="gem-c-document-list__item">
            <a class="gem-c-document-list__item-title govuk-link" href="/compare/result/{{ comparison.comparisonShortReference }}">{{ comparison.prison }} - {{ comparison.calculatedAt | date('DD MMMM YYYY') }}</a>
            <p class="gem-c-document-list__item-description ">
                {{ comparison.calculatedByUsername }} ( 9 mismatches from {{ comparison.numberOfPeopleCompared }} results)
            </p>
         </li>
        {& endfor &}
        
    </ul>

{% endblock %}