{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% block head %}
    {{ super() }}
    {% if comparison.status === 'PROCESSING' %}
        <meta http-equiv="refresh" content="5" />
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {% set overviewPath = "/compare/manual/result/" + comparison.comparisonShortReference  %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                },
                {
                    text: comparison.calculatedAt | date('DD MMMM YYYY'),
                    href: overviewPath
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">Bulk Comparison Results</h1>

    {% if comparison.status === 'PROCESSING' %}
        {% set bannerHtml %}
            <h2 class="govuk-heading-l">Comparison is still processing</h2>
        {% endset %}
        {{ mojBanner({
            type: 'information',
            html: bannerHtml
        }) }}
    {% endif %}

    <h3 class="govuk-heading-m">Overview</h3>
    {{ govukSummaryList({
        rows: [
            {
                key: {
                    text: "Prison"
                },
                value: {
                    text: comparison.prison
                }
            },
            {
                key: {
                    text: "Bulk Calculation by"
                },
                value: {
                    text: comparison.calculatedBy
                }
            },
            {
                key: {
                    text: "Bulk Calculation on"
                },
                value: {
                    text: comparison.calculatedAt | date('DD MMMM YYYY')
                }
            },
            {
                key: {
                    text: "Comparisons Performed"
                },
                value: {
                    text: comparison.numberOfPeopleCompared
                }
            },
            {
                key: {
                    text: "Anomalies Found"
                },
                value: {
                    text: comparison.numberOfMismatches
                }
            }
        ]
    }) }}

    <h3 class="govuk-heading-m">Mismatches</h3>

    {{ govukSummaryList({rows: comparison.mismatches}) }}


{% endblock %}