{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% block head %}
    {{ super() }}
    {% if comparison.status === 'PROCESSING' %}
        <meta http-equiv="refresh" content="5" />
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {% set overviewPath = "/compare/manual/result/" + comparison.comparisonShortReference  %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                },
                {
                    text: comparison.calculatedAt | date('DD MMMM YYYY'),
                    href: overviewPath
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Bulk comparison results</h1>

            {% if comparison.status === 'PROCESSING' %}
                {% set bannerHtml %}
                    <h2 class="govuk-heading-l">Comparison is still processing</h2>
                {% endset %}
                {{ mojBanner({
                    type: 'information',
                    html: bannerHtml
                }) }}
            {% endif %}

            <h3 class="govuk-heading-m">Overview</h3>
            {% set rows = [
                {
                    key: {
                       text: "Comparison type"
                    },
                       value: {
                       text: comparison.comparisonType | formatComparisonType
                    }
                },
                {
                    key: {
                      text: "Bulk calculation by"
                    },
                    value: {
                      text: comparison.calculatedBy
                    }
                },
                {
                    key: {
                        text: "Bulk calculation on"
                    },
                    value: {
                        text: comparison.calculatedAt | date('DD MMMM YYYY')
                    }
                },
                {
                    key: {
                        text: "Comparisons performed"
                    },
                    value: {
                        text: comparison.numberOfPeopleCompared
                    }
                },
                {
                    key: {
                        text: "Anomalies found"
                    },
                    value: {
                        text: comparison.numberOfMismatches
                    }
                }
            ] %}

            {% if featureToggles.hdc4ComparisonTabEnabled %}
                {% set rows = (rows.push(
                    {
                        key: {
                            text: "Potential HDC4+ count"
                        },
                        value: {
                            text: comparison.validationHdc4PlusMismatches.length
                        }
                    }), rows) %}
            {% endif %}

            {{ govukSummaryList({
                rows: rows
            }) }}

            <h3 class="govuk-heading-m">Mismatches</h3>
            {% set releaseDateMismatchHtml %}
                {{ govukSummaryList({
                    rows: comparison.releaseDateMismatches
                }) }}
            {% endset -%}

            {% set unsupportedSentenceTypeHtml %}
                {{ govukSummaryList({
                    rows: comparison.unsupportedSentenceTypeMismatches
                }) }}
            {% endset -%}

            {% set validationErrorHtml %}
                {{ govukSummaryList({
                    rows: comparison.validationErrorMismatches
                }) }}
            {% endset -%}

            {% set validationErrorHdc4PlusHtml %}
                {{ govukSummaryList({
                    rows: comparison.validationHdc4PlusMismatches
                }) }}
            {% endset -%}

            {% set tabs = [] %}
            {% if comparison.releaseDateMismatches.length %}
                {% set tabs = (tabs.push({
                    label: "Release date mismatches",
                    id: "release-date-mismatch",
                    panel: {
                        html: releaseDateMismatchHtml
                    }
                }), tabs) %}
            {% endif %}

            {% if comparison.unsupportedSentenceTypeMismatches.length %}
                {% set tabs = (tabs.push({
                    label: "Unsupported sentence type",
                    id: "unsupported-sentence-type",
                    panel: {
                        html: unsupportedSentenceTypeHtml
                    }
                }), tabs) %}
            {% endif %}

            {% if comparison.validationErrorMismatches.length %}
                {% set tabs = (tabs.push({
                    label: "Validation error",
                    id: "validation-error",
                    panel: {
                        html: validationErrorHtml
                    }
                }), tabs) %}
            {% endif %}

            {% if featureToggles.hdc4ComparisonTabEnabled and comparison.validationHdc4PlusMismatches.length %}
                {% set tabs = (tabs.push({
                    label: "Potential HDC4+",
                    id: "validation-error-hdc4-plus",
                    panel: {
                        html: validationErrorHdc4PlusHtml
                    }
                }), tabs) %}
            {% endif %}

            {{ govukTabs({
              items: tabs
            }) }}
        </div>
    </div>
{% endblock %}