{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}


{% block beforeContent %}
    {{ super() }}
    <nav>
        {% set overviewPath = "/compare/manual/result/" + bulkComparisonResultId  %}
        {% set detailPath = "/compare/manual/result/" + bulkComparisonResultId + '/detail/' + bulkComparisonDetailId %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                },
                {
                    text: bulkComparison.calculatedAt | hmppsFormatDate('dd MMMM yyyy'),
                    href: overviewPath
                },
                {
                    text: "Detail",
                    href: detailPath
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Bulk Comparison Detail</h1>

    <h3 class="govuk-heading-l">Overview</h3>
    {% set tranche = '' %}
    {% set reason = 'Unknown' %}
    {% if bulkComparison.progressionModelTranche and bulkComparison.progressionModelTranche != 'TRANCHE_0' %}
        {% set tranche = bulkComparison.progressionModelTranche | formatTranche %}
    {% endif %}
    {% if bulkComparison.latestCalculationReason and bulkComparison.latestCalculationReasonFurtherDetail %}
        {% set reason = bulkComparison.latestCalculationReason + '<p class="govuk-body govuk-hint govuk-!-font-size-16">' + bulkComparison.latestCalculationReasonFurtherDetail + '</p>' %}
    {% elseif bulkComparison.latestCalculationReason %}
        {% set reason = bulkComparison.latestCalculationReason  %}
    {% endif %}
    {{ govukSummaryList({
        rows: [
            {
                key: {
                    text: "NOMIS reference"
                },
                value: {
                    text: bulkComparison.nomisReference
                }
            },
            {
                key: {
                    text: "Booking"
                },
                value: {
                    text: bulkComparison.bookingId
                }
            },
            {
                key: {
                    text: "Progression Model tranche"
                },
                value: {
                    text: tranche
                }
            },
            {
                key: {
                    text: "Calculation reason"
                },
                value: {
                    html: reason
                }
            },
            {
                key: {
                    text: "Date of latest calculation"
                },
                value: {
                    text: bulkComparison.calculatedAt | hmppsFormatDate('dd MMMM yyyy')
                }
            },
            {
                key: {
                    text: "HDCED 14 day rule applied"
                },
                value: {
                    text: bulkComparison.hdced14DayRuleApplied
                }
            },
            {
                key: {
                    text: "Registered sex offender"
                },
                value: {
                    text: bulkComparison.activeSexOffender
                }
            },
            {
                key: {
                    text: "SDS+ sentences identified"
                },
                value: {
                    html: bulkComparison.sdsPlusOffences
                }
            }
        ]
    }) }}


    {% include "./releaseDatesMismatchTable.njk" %}

    {% if bulkComparison.mismatchType === 'RELEASE_DATES_MISMATCH' %}
        {% include "./recordDiscrepencyPanel.njk" %}
    {% endif %}

    {% if bulkComparison.calculationRequestId %}
        {{ govukButton({
            text: "View JSON for Person",
            type: button,
            value: 'view-json-for-person',
            href:  "/compare/manual/result/" + bulkComparisonResultId + '/detail/' + bulkComparisonDetailId + '/json',
            preventDoubleClick: true,
            classes: "govuk-button--secondary",
            attributes: {  'data-qa': 'bulk-comparison-view-json' }
        }) }}
    {% endif %}

{% endblock %}
