{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "./radios/otherInput.njk" import otherInput %}

<h3 class="govuk-heading-l">Record Discrepancy</h3>

{% set errorSummaryList = validationErrors | errorSummaryList %}

{% if errorSummaryList.length > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummaryList,
                classes: 'govuk-!-margin-top-5 govuk-!-margin-bottom-0'
            }) }}
        </div>
    </div>
{% endif %}

<form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {{ govukRadios({
        name: "impact",
        value: discrepancy.impact,
        fieldset: {
            legend: {
                text: "What is the (possible) impact of the mismatch?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
            }
        },
        errorMessage: validationErrors | findError('impact'),
        items: [
            {
                value: "POTENTIAL_RELEASE_IN_ERROR",
                text: "Potential RiE"
            },
            {
                value: "POTENTIAL_UNLAWFUL_DETENTION",
                text: "Potential Unlawful Detention "
            },
            {
                value: "OTHER",
                text: "No impact NOMIS is correct"
            }
        ]
    }) }}

    {% set crdRadios %}
        {% include "./radios/crd.njk" %}
    {% endset -%}
    {% set ersRadios %}
        {% include "./radios/ers.njk" %}
    {% endset -%}
    {% set hdcRadios %}
        {% include "./radios/hdc.njk" %}
    {% endset -%}
    {% set ledRadios %}
        {% include "./radios/led.njk" %}
    {% endset -%}
    {% set pedRadios %}
        {% include "./radios/ped.njk" %}
    {% endset -%}
    {% set prrdRadios %}
        {% include "./radios/prrd.njk" %}
    {% endset -%}
    {% set sedRadios %}
        {% include "./radios/sed.njk" %}
    {% endset -%}
    {% set tusedRadios %}
        {% include "./radios/tused.njk" %}
    {% endset -%}

    {% set otherTextInput %}
        {{ otherInput('OTHER-otherInput', discrepancy.causes.OTHER.other) }}
    {% endset -%}

    {{ govukCheckboxes({
        name: "causes",
        fieldset: {
            legend: {
                text: "What caused the mismatch?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
            }
        },
        errorMessage: validationErrors | findError('causes'),
        items: [
            {
                value: "CRD",
                text: "CRD",
                checked: discrepancy.causes.CRD,
                conditional: {
                    html: crdRadios
                }
            },
            {
                value: "ERSED",
                text: "ERSED",
                checked: discrepancy.causes.ERSED,
                conditional: {
                    html: ersRadios
                }
            },
            {
                value: "HDCED",
                text: "HDCED",
                checked: discrepancy.causes.HDCED,
                conditional: {
                    html: hdcRadios
                }
            },
            {
                value: "LED",
                text: "LED",
                checked: discrepancy.causes.LED,
                conditional: {
                    html: ledRadios
                }
            },
            {
                value: "PED",
                text: "PED",
                checked: discrepancy.causes.PED,
                conditional: {
                    html: pedRadios
                }
            },
            {
                value: "PRRD",
                text: "PRRD",
                checked: discrepancy.causes.PRRD,
                conditional: {
                    html: prrdRadios
                }
            },
            {
                value: "SED",
                text: "SED",
                checked: discrepancy.causes.SED,
                conditional: {
                    html: sedRadios
                }
            },
            {
                value: "TUSED",
                text: "TUSED",
                checked: discrepancy.causes.TUSED,
                conditional: {
                    html: tusedRadios
                }
            },
            {
                value: "OTHER",
                text: "Other",
                checked: discrepancy.causes.OTHER,
                conditional: {
                    html: otherTextInput
                }
            }
        ]
    }) }}

    {{ govukTextarea({
        name: "detail",
        id: "detail",
        value: discrepancy.detail,
        errorMessage: validationErrors | findError('detail'),
        label: {
            text: "Provide any detail around this discrepancy",
            classes: "govuk-label--m",
            isPageHeading: true
        }
    }) }}

    {{ govukRadios({
        name: "priority",
        value: discrepancy.priority,
        fieldset: {
            legend: {
                text: "How urgent is the resolution of this problem",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
            }
        },
        errorMessage: validationErrors | findError('priority'),
        items: [
            {
                value: "HIGH_RISK",
                text: "High Risk – release within 3 weeks"
            },
            {
                value: "MEDIUM_RISK",
                text: "Medium risk – release in between 3 weeks and 3 months"
            },
            {
                value: "LOW_RISK",
                text: "Low risk – release after 3 months"
            }
        ]
    }) }}

    {{ govukTextarea({
        name: "action",
        id: "action",
        value: discrepancy.action,
        errorMessage: validationErrors | findError('action'),
        label: {
            text: "Describe the recommended action that needs to be taken",
            classes: "govuk-label--m",
            isPageHeading: true
        }
    }) }}

    {{ govukButton({
        text: "Record",
        type: submit,
        value: 'record-reason',
        preventDoubleClick: true,
        attributes: {  'data-qa': 'record-reason' }
    }) }}
</form>