{% set headings = [
        {
            text: "Date",
            classes: "govuk-!-width-one-fifth"
        }
    ]
%}

{% if bulkComparison.mismatchType !== 'VALIDATION_ERROR' %}
    {% set headings = (headings.push(
        {
            text: "Mismatch",
            classes: "govuk-!-width-one-fifth"
        }), headings)
     %}
{% endif %}

{% set headings = (headings.push(
    {
        text: "CRDS",
        classes: "govuk-!-width-one-fifth"
    },
    {
        text: "NOMIS",
        classes: "govuk-!-width-one-fifth"
    },
    {
        text: "User Override",
        classes: "govuk-!-width-one-fifth"
    }), headings)
%}

{{ govukTable({
    caption: "Release Dates",
    captionClasses: "govuk-table__caption--l",
    firstCellIsHeader: true,
    head: headings,
    rows: bulkComparison.dates
}) }}
