{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% block head %}
    {{ super() }}
    {% if comparison.status === 'PROCESSING' %}
        <meta http-equiv="refresh" content="60" />
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {% set overviewPath = "/compare/result/" + comparison.comparisonShortReference  %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                },
                {
                    text: comparison.calculatedAt | hmppsFormatDate('dd MMMM yyyy'),
                    href: overviewPath
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Bulk comparison results</h1>

            {% if comparison.status === 'PROCESSING' %}
                {% set bannerHtml %}
                    <h2 class="govuk-heading-l">Comparison is still processing {{comparison.percentageComplete}}% complete. Expected completion time {{ comparison.expectedCompletionTime | hmppsFormatDate('dd MMMM yyyy') }} at {{comparison.expectedCompletionTime | hmppsFormatDate('HH:mm') }}</h2>
                {% endset %}
                {{ mojBanner({
                    type: 'information',
                    html: bannerHtml
                }) }}
            {% endif %}

            <h3 class="govuk-heading-m">Overview</h3>
            {% set rows = [
                {
                    key: {
                        text: "Prison"
                    },
                    value: {
                        text: comparison.prisonName
                    }
                },
                {
                    key: {
                        text: "Comparison type"
                    },
                    value: {
                        text: comparison.comparisonType | formatComparisonType
                    }
                },
                {
                    key: {
                      text: "Bulk calculation by"
                    },
                    value: {
                      text: comparison.calculatedBy
                    }
                },
                {
                    key: {
                        text: "Bulk calculation on"
                    },
                    value: {
                        text: comparison.calculatedAt | hmppsFormatDate('dd MMMM yyyy')
                    }
                },
                {
                    key: {
                        text: "Comparisons performed"
                    },
                    value: {
                        text: comparison.numberOfPeopleCompared
                    }
                },
                {
                    key: {
                        text: "Anomalies found"
                    },
                    value: {
                        text: comparison.numberOfMismatches
                    }
                }
            ] %}
            {%  if comparison.numberOfPeopleComparisonFailedFor and comparison.numberOfPeopleComparisonFailedFor > 0 %}
                {% set rows = (rows.push(
                    {
                        key: {
                            text: "Failed comparison count"
                        },
                        value: {
                            text: comparison.numberOfPeopleComparisonFailedFor
                        }
                    }), rows) %}
            {% endif %}

            {{ govukSummaryList({
                rows: rows
            }) }}

            <h3 class="govuk-heading-m">Results</h3>
            {% set releaseDateMismatchHtml %}
                {{ govukTable({
                    firstCellIsHeader: true,
                    head: comparison.releaseDateMismatchesTable.headings,
                    rows: comparison.releaseDateMismatchesTable.rows
                }) }}
            {% endset -%}

            {% set unsupportedSentenceTypeHtml %}
                {{ govukTable({
                    firstCellIsHeader: true,
                    head: comparison.unsupportedSentenceMismatchesTable.headings,
                    rows: comparison.unsupportedSentenceMismatchesTable.rows
                }) }}
            {% endset -%}

            {% set validationErrorHtml %}
                {{ govukTable({
                    firstCellIsHeader: true,
                    head: comparison.validationErrorMismatchesTable.headings,
                    rows: comparison.validationErrorMismatchesTable.rows
                }) }}
            {% endset -%}

            {% set tabs = [] %}

            {% if comparison.releaseDateMismatchesTable.rows.length %}
                {% set tabs = (tabs.push({
                    label: "Release date mismatches" + " ("+comparison.releaseDateMismatchesTable.rows.length + ")",
                    id: "release-date-mismatch",
                    panel: {
                        html: releaseDateMismatchHtml
                    }
                }), tabs) %}
            {% endif %}

            {% set unsupportedSentenceLabel = "Unsupported sentence type" %}

            {% if comparison.unsupportedSentenceMismatchesTable.rows.length %}
                {% set tabs = (tabs.push({
                    label: unsupportedSentenceLabel + " ("+comparison.unsupportedSentenceMismatchesTable.rows.length + ")",
                    id: "unsupported-sentence-type-tab",
                    panel: {
                        html: unsupportedSentenceTypeHtml
                    }
                }), tabs) %}
            {% endif %}

            {% set validationErrorLabel = "Validation error" %}

            {% if comparison.validationErrorMismatchesTable.rows.length %}
                {% set tabs = (tabs.push({
                    label: validationErrorLabel + " (" + comparison.validationErrorMismatchesTable.rows.length + ")",
                    id: "validation-error-tab",
                    panel: {
                        html: validationErrorHtml
                    }
                }), tabs) %}
            {% endif %}

            {{ govukTabs({
              items: tabs
            }) }}
        </div>
    </div>
{% endblock %}
