{% extends "../../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - view JSON" %}
{% set pageId = "compare-person-mismatch-JSON" %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {% if isManual %}
            {% set overviewPath = "/compare/manual/result/" + bulkComparisonResultId  %}
            {% set detailPath = "/compare/manual/result/" + bulkComparisonResultId + '/detail/' + bulkComparisonDetailId %}
        {% else %}
            {% set overviewPath = "/compare/result/" + bulkComparisonResultId %}
            {% set detailPath = "/compare/result/" + bulkComparisonResultId + '/detail/' + bulkComparisonDetailId %}
        {% endif %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Home",
                    href: "/"
                },
                {
                    text: "Bulk Compare",
                    href: "/compare/"
                },
                {
                    text: bulkComparison.calculatedAt | hmppsFormatDate('dd MMMM yyyy'),
                    href: overviewPath
                },
                {
                    text: "Detail",
                    href: detailPath
                }
            ]
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="json-view">
        <h2 class="govuk-heading-m">Calculate release dates</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                Input data
            </li>
            {{ jsonData.inputData | dumpJson }}
        </ul>
        <h2 class="govuk-heading-m">Nomis</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                Sentences and offences
            </li>
            {{ jsonData.sentenceAndOffences | dumpJson }}
            <li>
                Adjustments
            </li>
            {{ jsonData.adjustments | dumpJson }}
        </ul>
    </div>
{% endblock %}
