{
  "plugins": ["cypress", "no-only-tests"],
  "env": {
    "cypress/globals": true
  },
  "extends": ["plugin:cypress/recommended"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-only-tests/no-only-tests": "error"
  }
}
