<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
            If some information is wrong, ask the OMU to update the incorrect details NOMIS, then calculate the release
            dates again.
        </div>
    </div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-top-6">Calculate release dates
    for {{ model.prisonerDetail.firstName | title + ' ' + model.prisonerDetail.lastName | title }}</h2>
<p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
{{ govukButton({
    text: "Calculate release dates",
    type: submit,
    value: 'calculate-release-dates',
    preventDoubleClick: true,
    attributes: {  'data-qa': 'calculate-release-dates' }
}) }}