{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - determinite manual entry" %}
{% set pageId = "manual-dates-confirmation" %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBackLink( {
            text: "Check sentence and offence information",
            href: "/calculation/" + prisonerDetail.offenderNo + "/check-information-unsupported"
        }) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check the dates you have entered</h1>
            {{ govukSummaryList({
                rows: rows
            }) }}
            <p class="govuk-body govuk-!-margin-bottom-8">
            <a href="/calculation/{{ prisonerDetail.offenderNo }}/manual-entry/select-dates?addExtra=true"
               class="govuk-link govuk-link--no-visited-state" data-qa="add-another-release-date-link">Add another release date</a>
            </p>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Confirm and save to NOMIS</h2>
            <p class="govuk-body">By saving this calculation you are confirming that, to the best of your knowledge, it is
                correct. These dates will be saved in NOMIS as a manual calculation.</p>
            {{ govukButton({
                text: "Confirm and save to NOMIS",
                href: "/calculation/" + prisonerDetail.offenderNo + "/manual-entry/save",
                attributes: { 'data-qa': 'submit-to-nomis' }
            }) }}
        </div>
    </div>
{% endblock %}