{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageTitle = applicationName + " - determinite manual entry" %}
{% set pageId = "manual-entry-select-dates" %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: "/calculation/" + prisonerDetail.offenderNo + "/manual-entry"
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
                {% if insufficientDatesSelected %}
                    {% set config = mergedConfig %}
                {% endif %}
                {{ govukCheckboxes(config) }}

                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukButton({
                    text: "Continue",
                    type: submit,
                    value: 'determinate-date-selection',
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'manual-entry' }
                }) }}
                {% set cancelUrl = "/calculation/" + prisonerDetail.offenderNo + "/cancelCalculation?redirectUrl=" + redirectUrl %}
                <a data-qa="cancel-link"
                    data-prevent-double-click="true" class="govuk-button govuk-!-margin-left-3 govuk-button--secondary no-js-hidden"
                    data-module="govuk-button"
                    href="{{ cancelUrl }}">
                    Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}
