{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageTitle = applicationName + " - manual entry" %}
{% set pageId = "manual-entry-start" %}

{% block aside %}
    {% set prisonerDetail = prisonerDetail %}
    {% include "../partials/prisonerIdentityBar.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: "/calculation/" + prisonerDetail.offenderNo + "/check-information-unsupported"
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Manual calculation required
            </h1>
            <p class="govuk-body">This calculation includes unsupported calculation scenarios. You will need to enter the dates manually.</p>
            <h2 class="govuk-heading-m">What you need to do</h2>
            <ul class="govuk-list govuk-list--number">
                <li>Complete a calculation using a paper calculation sheet.</li>
                <li>Continue in this service to enter the release dates.</li>
            </ul>
            <p class="govuk-body">This will be recorded as a manual calculation on NOMIS.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if hasIndeterminateSentences %}
                {% set nextPage = "/calculation/" + prisonerDetail.offenderNo + "/manual-entry/indeterminate-date-selection" %}
            {% else %}
                {% set nextPage = "/calculation/" + prisonerDetail.offenderNo + "/manual-entry/determinate-date-selection"%}
            {% endif %}
            {{ govukButton({
                text: "Continue",
                type: submit,
                value: 'start-manual-calc',
                preventDoubleClick: true,
                href: nextPage,
                attributes: {  'data-qa': 'manual-calc-start' }
            }) }}
        </div>
    </div>
{% endblock %}