{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageTitle = applicationName + " - manual entry" %}
{% set pageId = "manual-entry-start" %}
{% set continueBtn %}
    {% if existingManualJourney %}
        /calculation/{{prisonerDetail.offenderNo}}/manual-entry/confirmation
    {% else %}
        /calculation/{{prisonerDetail.offenderNo}}/manual-entry/select-dates
    {% endif %}
{% endset %}
{% set cancelUrl = "/calculation/" + prisonerDetail.offenderNo + "/cancelCalculation?redirectUrl=" + pageCancelRedirectUrl %}

{% block beforeContent %}
    {{ super() }}
    <nav>
        {{ govukBackLink({
            text: "Back",
            href: "/calculation/" + prisonerDetail.offenderNo + "/check-information-unsupported"
        }) }}
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="manual-entry-title">
                {{ 'Review the manually calculated dates' if existingManualJourney else 'Enter the dates manually ' }}
            </h1>
            <p class="govuk-body" data-qa="manual-entry-hint">This calculation includes one or more reasons why dates
                cannot be calculated by this service.</p>
            <p class="govuk-body" data-qa="manual-entry-scenarios">More scenarios and sentence types will be supported
                as the service is developed.</p>

            {% if validationMessages and validationMessages.unsupportedSentenceMessages.length > 0 %}
                <h2 class="govuk-heading-m">
                    {% if validationMessages.unsupportedSentenceMessages.length > 1 %}
                        The unsupported sentence types are:
                    {% else %}
                        The unsupported sentence type is:
                    {% endif %}
                </h2>
                {% for unsupportedSentenceItem in validationMessages.unsupportedSentenceMessages %}
                    <p class="govuk-body"> {{ unsupportedSentenceItem.message }}</p>
                {% endfor %}
            {% endif %}
            {% if validationMessages and (validationMessages.unsupportedCalculationMessages.length > 0 or validationMessages.unsupportedManualMessages.length > 0) %}
                <h2 class="govuk-heading-m">
                    {% set totalManualMessages = validationMessages.unsupportedCalculationMessages.length + validationMessages.unsupportedManualMessages.length %}
                    {% if totalManualMessages > 1 %}
                        The scenarios are not supported because:
                    {% else %}
                        The scenario is not supported because:
                    {% endif %}
                </h2>
                {% for unsupportedCalculationItem in validationMessages.unsupportedCalculationMessages %}
                    <p class="govuk-body">{{ unsupportedCalculationItem.message }}</p>
                {% endfor %}

                {% for unsupportedManualItem in validationMessages.unsupportedManualMessages %}
                    <p class="govuk-body">{{ unsupportedManualItem.message }}</p>
                {% endfor %}
            {% endif %} <p></p>
            <h2 class="govuk-heading-m">What you need to do</h2>
            <p class="govuk-body">
                {% if existingManualJourney %}
                    As no information has changed for this calculation, you need to confirm that the manually calculated release dates are correct.
                {% else %}
                    Enter the dates from the paper calculation sheet into this service.
                {% endif %}
            </p>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-5">
        <div class="govuk-grid-column-two-thirds">
            {{ govukButton({
                text: "Continue",
                type: submit,
                value: 'start-manual-calc',
                preventDoubleClick: true,
                href: continueBtn,
                attributes: {  'data-qa': 'manual-calc-start' }
            }) }}
            <a data-qa="cancel-link"
               data-prevent-double-click="true"
               class="govuk-button govuk-!-margin-left-3 govuk-button--secondary no-js-hidden"
               data-module="govuk-button"
               href="{{ cancelUrl }}">
                Cancel
            </a>
        </div>
    </div>
{% endblock %}