<table class="govuk-table govuk-!-margin-bottom-4" data-qa="concurrent-sentence-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Sentence</th>
            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence date</th>
            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
            <th scope="col" class="govuk-table__header govuk-table__header--date">Expiry date</th>
            <th scope="col" class="govuk-table__header govuk-table__header--date">Release date</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body calculation-breakdown">
        {% for sentence in model.calculationBreakdown.concurrentSentences %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Court case {{ sentence.caseSequence }}, NOMIS line number {{ sentence.lineSequence }}
                    {% if sentence.caseReference %}
                        <br>
                        <p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: {{sentence.caseReference}}</p>
                    {% endif %}
                </td>
                <td class="govuk-table__cell">{{ sentence.sentencedAt | hmppsFormatDate('dd MMMM yyyy') }}</td>
                <td class="govuk-table__cell">{{ sentence.sentenceLength }}</td>
                {% set expiryDate = sentence.dates | expiryDates %}
                <td class="govuk-table__cell">{{ expiryDate.unadjusted | hmppsFormatDate('dd MMMM yyyy') }}<br/>
                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">{{ expiryDate.daysFromSentenceStart }} days</span><br/>
                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">{{ sentence.dates | expiryDateType }}</span></td>
                {% set releaseDate = sentence.dates | releaseDates %}
                <td class="govuk-table__cell">{{ releaseDate.unadjusted | hmppsFormatDate('dd MMMM yyyy') }}<br/>
                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">{{ releaseDate.daysFromSentenceStart }} days</span><br/>
                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">{{ sentence.dates | releaseDateType }}</span></td>
            </tr>
        {% endfor %}
    </tbody>
</table>