<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Why are some details missing?
        </span>
    </summary>
    <div class="govuk-details__text">
        Some dates and details are not included as according to
        <a href="https://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a>
        they are not relevant to this person's circumstances.
    </div>
</details>
