<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Why are some details missing?
        </span>
    </summary>
    <div class="govuk-details__text">
        Some release dates and details are not included because they are not relevant to this person's sentences.
        For more information see the <a href="https://www.gov.uk/government/publications/sentence-calculation-policy-framework-determinate-sentenced-prisoners" target="_blank">sentence calculation policy (opens in new tab)</a>
    </div>
</details>