{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% if model.displayHdc4PlusNotificationBanner() %}
    {% set hdc4Notification %}
        <h2 class="govuk-heading-m">The rules for calculating HDCED have changed.</h2>
        <p class="govuk-body">This service now calculates HDCED for sentences of four years or more.</p>
        <p class="govuk-body">Details can be found in the <a class="govuk-link" target="_blank" href="https://assets.publishing.service.gov.uk/media/66701aa6fdbf70d6d79d9705/Home_Detention_Curfew_V7___002_.pdf">Home Detention Curfew Policy Framework </a></p>
    {% endset %}
    {{ mojBanner({
        type: ' ',
        html: hdc4Notification,
        attributes: { 'data-qa': 'hdc4-plus-notification-banner' }
    }) }}

{% endif %}