<div class="govuk-summary-card latest-calculation-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Release dates<br>
        </h2>
        <ul class="govuk-summary-card__actions">
            {% if latestCalculationCardConfig.printNotificationSlip %}
                <li><a class="govuk-link govuk-!-padding-right-2"
                       href="{{ latestCalculationCardConfig.printNotificationSlip.href }}" {% if latestCalculationCardConfig.printNotificationSlip.dataQa %} data-qa="{{ latestCalculationCardConfig.printNotificationSlip.dataQa }}"{% endif %}>Print
                        notification slip</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        {{ summaryList | safe | trim | indent(4) }}
        <dl class="govuk-summary-list release-dates-list">
            {% for row in latestCalculationCardConfig.dates %}
                <div class="govuk-summary-list__row" data-qa="latest-calculation-card-release-date-{{ row.type }}">
                    <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24"><span
                                class="release-dates-type">{{ row.type }}</span>
                        <p class="govuk-!-font-size-16 govuk-hint release-date-description">{{ row.description }}</p>
                    </dt>
                    <dd class="govuk-summary-list__value release-dates-value">
                        <span class="release-date-formatted">{{ row.date | hmppsFormatDate('cccc, dd LLLL yyyy') }}</span>
                        {% if row.hints | length %}
                        {% for hint in row.hints %}
                            {% if hint %}
                            <p class="govuk-!-font-size-16 govuk-hint release-date-hint">
                            {% if hint.href %}
                            <a class="govuk-link release-date-hint-link" rel="noreferrer noopener" target="_blank"
                               href="{{ hint.href }}"
                               target="new">{% endif %}
                                {{ hint.text }}{% if hint.href %} (opens in new tab)</a>
                            {% endif %}
                            </p>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
</div>