<h3 class="govuk-heading-l">Latest calculation</h3>
<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-2" data-qa="calculation-summary">
    {% set latestCalcFromHistory = calculationHistory[0] %}
    {% set calculationType = latestCalcFromHistory.calculationType %}
    {% set source = "Calculate release dates service" %}
    {% if latestCalculation.source === 'NOMIS' %}
        {% set source = "NOMIS" %}
    {% elseif calculationType and calculationType.startsWith("MANUAL") %}
        {% set source = "Paper calculation" %}
    {% elseif calculationType and calculationType === 'GENUINE_OVERRIDE' %}
        {% set source = "User Override" %}
    {% endif %}

    {% set establishment = latestCalculation.establishment %}
    {% set calculatedByDisplayName = latestCalculation.calculatedByDisplayName | capitaliseName %}
    {% set reason = latestCalculation.reason or "Not entered" %}
    {% set genuineOverrideReasonDescription = latestCalcFromHistory.genuineOverrideReasonDescription %}
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key">
            Calculation date
        </dt>
        <dd class="govuk-summary-list__value" data-qa="calculation-summary-date">
            {{ latestCalculation.calculatedAt | date('DD MMMM YYYY') }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key">
            Calculation reason
        </dt>
        <dd class="govuk-summary-list__value" data-qa="calculation-summary-reason">
            {{ latestCalculation.reason }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key">
            Calculated by
        </dt>
        <dd class="govuk-summary-list__value" data-qa="calculation-summary-calculated-by">
            {{ calculatedByDisplayName }}{% if calculatedByDisplayName and establishment %} at {% endif %}{{ establishment }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="custom-summary-list__key">
            Source
        </dt>
        <dd class="govuk-summary-list__value" data-qa="calculation-summary-source">
            {{ source }}
            {% if source === 'Paper calculation' %}
                <br/>
                <span class="govuk-!-font-size-16 govuk-hint">Entered in the Calculate release dates service</span>
            {% elseif calculationType === 'GENUINE_OVERRIDE' %}
                <br/> <span class="govuk-!-font-size-16 govuk-hint">{{ genuineOverrideReasonDescription }}</span>
            {% endif %}
        </dd>
    </div>
</dl>