{% include "../../partials/customErrorBanner.njk" %}
    {% include "../../partials/ersedRecallNotificationBanner.njk" %}
    {% include "../../partials/ersedCannotHappenNotificationBanner.njk" %}
    {% include "../../partials/calculationSummary/hdc4NotificationBanner.njk" %}
    {% from "../../components/calculation-summary-dates-card/macro.njk" import calculationSummaryDatesCard %}
    {% from "../../components/approved-summary-dates-card/macro.njk" import approvedSummaryDatesCard %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Review calculation</h1>
        {% if not model.approvedDates %}
            <p class="govuk-body">Check the release dates before entering the approved dates.</p>
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <span class="govuk-!-font-size-24" data-qa="release-dates-title">Release dates</span>
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            {{ calculationSummaryDatesCard(calculationSummaryDatesCardModel) }}
          </div>
        </div>
    </div>
</div>
{% if model.approvedDates %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  <span class="govuk-!-font-size-24" data-qa=" manual-dates-title">Manual dates</span>
                </h2>
              </div>
              <div class="govuk-summary-card__content">
                {{ approvedSummaryDatesCard(approvedSummaryDatesCardModel) }}
              </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include "../../partials/calculationSummary/detailsMissingInset.njk" %}
        {% include "../../partials/calculationSummary/howDatesCalculatedInset.njk" %}
    </div>
</div>

{% include "../../partials/calculationSummaryBreakdown.njk" %}
