{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Some sentences could have alternative release arrangements" %}
{% set pageId = "alternative-release-intro" %}

{% block beforeContent %}
    {{ super() }}
    {% if featureToggles.useCCARDLayout %}
        {% set backlink = "/?prisonId=" + prisonerDetail.offenderNo %}
    {% else %}
        {% set backlink = "/search/prisoners" %}
    {% endif %}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
    </nav>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                This calculation needs more information
            </h1>
            <p class="govuk-body">Some sentences in this calculation have offences that could change the way it is calculated. These sentences can have release dates that are calculated at two thirds (also known as an SDS+, which is completed on a peach calculation sheet).</p>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What are the criteria for an SDS+?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">SDS+ release arrangements can depend on the:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>offence</li>
                        <li>sentence type</li>
                        <li>sentence length</li>
                        <li>sentence date</li>
                        <li>age of the person when the sentence was imposed</li>
                    </ul>
                </div>
            </details>
            <h2 class="govuk-heading-l govuk-!-margin-top-4">What you need do</h2>
            <p class="govuk-body">This service has identified some sentences that meet the criteria for SDS+ release arrangements. These have been highlighted on the following pages.</p>
            <p class="govuk-body">Some offences for these sentences could be Schedule 15 offences. You must identify the ones that are, by looking them up on the list{% if model.hasMoreThanOneQuestion() %}s{% endif %}.
            </p>
        </div>
    </div>
    <!-- Call to action -->
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">
            <a href="{{"/calculation/" + prisonerDetail.offenderNo + "/select-offences-that-appear-in-" + model.firstQuestion().url}}" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-qa="continue">
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}