{% extends "../../partials/layout.njk" %}
{% set pageTitle = applicationName + " - Schedule 15 attracting life" %}
{% set pageId = "schedule-15" %}

{% block content %}

     <div class="moj-width-container">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
                    <span class="govuk-caption-xl">Schedule 15 offences</span>
                    <h1 class="govuk-heading-xl">
                List C
            </h1>
                    <p class="govuk-body">The Schedule 15 offences in list C are applicable to:</p>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                         <li>SEC250 sentence types</li>
                         <li>sentences imposed on or after 28 June 2022</li>
                         <li>individual sentences of 7 years or over</li>
                         <li>a maximum sentence of life</li>
                    </ul>
                    <nav class="app-contents-list">
                         <h2 class="app-contents-list__title">Contents</h2>
                         <ol class="app-contents-list__list">
                              <li class="contents-list__item app-contents-list__list-item--dashed">
                                   <a href="#part-1">Part 1 - Specified violent offences</a>
                              </li>
                              <li class="contents-list__item app-contents-list__list-item--dashed">
                                   <a href="#part-2">Part 2 - Specified sexual offences</a>
                              </li>
                         </ol>
                    </nav>
               </div>
          </div>
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-full-width">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
               </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-top-7">
               <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l" id="part-1">Part 1</span>
                    <h2 class="govuk-heading-l">Specified violent offences</h2>
                    <div class="govuk-inset-text">
                In addition to the offences in Part 1, Schedule 15 offences include:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
                              <li>aiding, abetting, counselling or procuring the commission of an offence</li>
                              <li>an attempt to commit such an offence</li>
                              <li>conspiracy to commit such an offence</li>
                              <li>incitement to commit such an offence</li>
                              <li>An offence under Part 2 of the Serious Crime Act 2007 (c. 27) in relation to which an offence specified in the paragraphs of this Part of this Schedule is the anticipated or reference offence (or one of the offences)</li>
                         </ul>
                This is outlined in <a href="#app1">paragraph 64 of the Schedule.</a>
                    </div>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced offence-list">
                         <li value="1."> Manslaughter</li>
                         <li value="4.">Soliciting murder
                    (An offence under section 4 of the Offences against the Person Act 1861 (c. 100))</li>
                         <li value="6.">Wounding with intent to cause grievous bodily harm (An offence under section 18 of the Offences against the Person Act 1861)</li>
                         <li id="app1" value="64.">
                              <ul class="list-no-padding-left">
                                   <li class="list-style-none govuk-!-margin-bottom-2 govuk-!-margin-top-2">(1) Aiding, abetting, counselling or procuring the commission of an offence specified in the preceding paragraphs of this Part of this Schedule.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(2) An attempt to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(3) Conspiracy to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(4) Incitement to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(5) An offence under Part 2 of the Serious Crime Act 2007 (c. 27) in relation to which an offence specified in the preceding paragraphs of this Part of this Schedule is the anticipated or reference offence (or one of the offences)</li>
                              </ul>
                         </li>
                         <li value="65">Attempted murder, conspiracy to commit murder, incitement to commit murder.
                              (An offence under Part 2 of the Serious Crime Act 2007 in relation to which murder is the anticipated or reference offence (or one of the offences))</li>
                    </ol>
               </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-top-7">
               <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l" id="part-2">Part 2</span>
                    <h2 class="govuk-heading-l">Specified sexual offences</h2>
                    <div class="govuk-inset-text">
                In addition to the offences in Part 2, Schedule 15 offences include:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
                              <li>aiding, abetting, counselling or procuring the commission of an offence</li>
                              <li>an attempt to commit such an offence</li>
                              <li>conspiracy to commit such an offence</li>
                              <li>incitement to commit such an offence</li>
                              <li>an offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
                         </ul>
                This is outlined in <a href="#app2">paragraph 153 of the Schedule.</a>
                    </div>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                         <li value="66.">Rape
                    (An offence under section 1 of the Sexual Offences Act 1956 (c. 69))</li>
                         <li value="70">Intercourse with girl under 13
                    (An offence under section 5 of the Sexual Offences Act 1956)</li>
                         <li value="74.">Incest by a man with a girl under 13
                    (An offence under section 10 of the Sexual Offences Act 1956)</li>
                         <li value="86.">Permitting girl under thirteen to use premises for intercourse
                    (An offence under section 25 of the Sexual Offences Act 1956)</li>
                         <li value="102.">Rape
                    (An offence under section 1 of the Sexual Offences Act 2003 (c. 42))</li>
                         <li value="103.">Assault by Penetration
                    (An offence under section 2 of the Sexual Offences Act 2003)</li>
                         <li value="105.">Causing a person to engage in sexual activity without consent
                    (An offence under section 4 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (4)(a) to (d) of that section)</li>
                         <li value="106.">Rape of a child and other offences against children under 13
                    (An offence under section 5 of the Sexual Offences Act 2003</li>
                         <li value="107.">Assault of a child under 13 by penetration
                    (An offence under section 6 of the Sexual Offences Act 2003)</li>
                         <li value="109.">Causing a child under thirteen to engage in sexual activity
                    (An offence under section 8 of the Sexual Offences Act 2003 where it is alleged that an activity involving penetration within subsection (2)(a) to (d) of that section was caused)</li>
                         <li value="123.">Sexual activity with a person with a mental disorder impeding choice
                    (An offence under section 30 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (3)(a) to (d) of that section).</li>
                         <li value="124.">Causing or inciting a person with a mental disorder impeding choice to engage in sexual activity
                    (An offence under section 31 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (3)(a) to (d) of that section).</li>
                         <li value="127.">Inducement, threat or deception to procure sexual activity with a person with a mental disorder
                    (An offence under section 34 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (2)(a) to (d) of that section.)</li>
                         <li value="128.">Causing a person with a mental disorder to engage in or agree to engage in sexual activity by inducement, threat or deception
                    (An offence under section 35 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (2)(a) to (d) of that section.)</li>
                         <li value="135.">Paying for sexual services of a child (where victim is <13, penetrative) (An offence under section 47 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (2)(a) to (d) of that section).</li>
                         <li value="145.">Kidnapping or false imprisonment committed with the intention of committing a relevant sexual offence
                        (An offence under section 62(3) of the Sexual Offences Act 2003 where the offender commits a kidnap or false imprisonment with the intention of committing an offence under Part 3 of that Act.</li>
                         <li class="list-alphanum" data-para-num="152A.">An offence under section 2 of the Modern Slavery Act 2015 (human trafficking) committed with a view to exploitation that consists of or includes behaviour within section 3(3) of that Act (sexual exploitation)</li>
                         <li id="app2" value="153.">
                              <ul class="list-no-padding-left">
                                   <li class="list-style-none govuk-!-margin-bottom-2 govuk-!-margin-top-2">Aiding, abetting, counselling or procuring the commission of an offence specified in the preceding paragraphs of this Part of this Schedule.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(2) An attempt to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(3) Conspiracy to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(4) Incitement to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(5) An offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the preceding paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
                              </ul>
                         </li>
                    </ol>
               </div>
          </div>
     </div>
{% endblock %}