{% extends "../../partials/layout.njk" %}
{% set pageTitle = applicationName + " - Schedule 15 attracting life" %}
{% set pageId = "schedule-15" %}

{% block content %}

     <div class="moj-width-container">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
                    <span class="govuk-caption-xl">Schedule 15 offences</span>
                    <h1 class="govuk-heading-xl">
                List D
            </h1>
                    <p class="govuk-body">The Schedule 15 offences in list D are applicable to:</p>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                         <li>SDS and DYOI sentence types</li>
                         <li>sentences imposed on or after 28 June 2022</li>
                         <li>individual sentences of 7 years or over</li>
                         <li>people aged 18 years or over when sentenced</li>
                         <li>a maximum sentence of life</li>
                    </ul>
                    <nav class="app-contents-list">
                         <h2 class="app-contents-list__title">Contents</h2>
                         <ol class="app-contents-list__list">
                              <li class="contents-list__item app-contents-list__list-item--dashed">
                                   <a href="#part-1">Part 1 - Specified violent offences</a>
                              </li>
                              <li class="contents-list__item app-contents-list__list-item--dashed">
                                   <a href="#part-2">Part 2 - Specified sexual offences</a>
                              </li>
                         </ol>
                    </nav>
               </div>
          </div>
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-full-width">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
               </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-top-7">
               <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l" id="part-1">Part 1</span>
                    <h2 class="govuk-heading-l">Specified violent offences</h2>
                    <div class="govuk-inset-text">
                In addition to the offences in Part 1, Schedule 15 offences include:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
                              <li>aiding, abetting, counselling or procuring the commission of an offence</li>
                              <li>an attempt to commit such an offence</li>
                              <li>conspiracy to commit such an offence</li>
                              <li>incitement to commit such an offence</li>
                              <li>an offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the below paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
                         </ul>
                This is outlined in <a href="#app1">paragraph 64 of the Schedule</a>
                    </div>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced offence-list">
                         <li value="1."> Manslaughter</li>
                         <li value="2.">Kidnapping</li>
                         <li value="3."> False imprisonment</li>
                         <li value="4.">Soliciting murder
                    [an offence under section 4 of the Offences against the Person Act 1861 (c. 100)]</li>
                         <li value="6.">Wounding with intent to cause grievous bodily harm (an offence under section 18 of the Offences against the Person Act)</li>
                         <li value="8.">Attempting to choke, suffocate or strangle in order to commit or assist in committing an indictable offence. (An offence under section 21 of the Offences against the Person Act)</li>
                         <li value="9.">Using chloroform etc. to commit or assist in the committing of any indictable offence. (An offence under section 22 of the Offences against the Person Act)</li>
                         <li value="12.">Causing bodily injury by explosives
                    (An offence under section 28 of the Offences against the Person Act)</li>
                         <li value="13.">Using explosives etc. with intent to do GBH
                    (An offence under section 29 of the Offences against the Person Act 1861)</li>
                         <li value="16.">Endangering the safety of railway passengers
                    (An offence under section 32 of the Offences against the Person Act)</li>
                         <li value="21.">Causing explosion likely to endanger life or property
                    (An offence under section 2 of the Explosive Substances Act 1883)</li>
                         <li value="22.">Attempt to cause explosion or making or keeping explosive with intent to endanger life or property
                    (An offence under section 3 of the Explosive Substances Act 1883)"</li>
                         <li value="22A.">Making or possession of explosive under suspicious circumstances
                    (An offence under section 4 of the Explosive Substances Act 1883)</li>
                         <li value="23.">Child destruction
                    [An offence under section 1 of the Infant Life (Preservation) Act 1929 (c. 34)]</li>
                         <li value="25.">Infanticide
                    (An offence under section 1 of the Infanticide Act 1938)</li>
                         <li value="26.">Possession of firearm with intent to endanger life
                    (An offence under section 16 of the Firearms Act 1968 (c. 27)</li>
                         <li value="28.">Use of firearm to resist arrest
                    (An offence under section 17(1) of the Firearms Act 1968)</li>
                         <li value="29.">Possession of firearm at time of committing or being arrested for offence specified in Schedule 1 to that Act.
                    (An offence under section 17(2) of the Firearms Act 1968)</li>
                         <li value="30.">Carry a firearm with criminal intent
                    (An offence under section 18 of the Firearms Act 1968)</li>
                         <li value="31.">Robbery/assault with intent to rob
                    (An offence under section 8 of the Theft Act 1968 (c. 60))</li>
                         <li value="33.">Aggravated burglary
                    (An offence under section 10 of the Theft Act 1968)</li>
                         <li value="35.">Arson
                    (An offence of arson under section 1 of the Criminal Damage Act 1971 (c. 48)</li>
                         <li value="36.">Destroying or damaging property other than arson
                    (An offence of arson under section 1(2) of the Criminal Damage Act 1971.)</li>
                         <li value="37.">Hostage taking
                    (An offence under section 1 of the Taking of Hostages Act 1982 (c. 28)</li>
                         <li value="38.">Hijacking
                    (An offence under section 1 of the Aviation Security Act 1982 (c. 36)</li>
                         <li value="39.">Destroying, damaging or endangering safety of aircraft
                    (An offence under section 2 of the Aviation Security Act 1982)</li>
                         <li value="40.">Other acts endangering or likely to endanger safety of aircraft
                    (An offence under section 3 of the Aviation Security Act 1982)"</li>
                         <li value="47.">Torture
                    (An offence under section 134 of the Criminal Justice Act 1988 (c. 33)</li>
                         <li value="48.">Causing death by dangerous driving
                    (An offence under section 1 of the Road Traffic Act 1988)</li>
                         <li value="49.">Causing death by careless driving when under influence of drink or drugs
                    (An offence under section 3A of the Road Traffic Act 1988)</li>
                         <li value="50.">Endangering safety at aerodromes
                    (An offence under section 1 of the Aviation and Maritime Security Act 1990 (c. 31)</li>
                         <li value="51.">Hijacking of ships
                    (An offence under section 9 of the Aviation and Maritime Security Act 1990)</li>
                         <li value="52.">Seizing or exercising control of fixed platforms
                    (An offence under section 10 of the Aviation and Maritime Security Act 1990)</li>
                         <li value="53.">Destroying ships or fixed platforms endangering their safety
                    (An offence under section 11 of the Aviation and Maritime Security Act 1990)</li>
                         <li value="54.">Other acts endangering or likely to endanger safe navigation
                    (An offence under section 12 of the Aviation and Maritime Security Act 1990)</li>
                         <li value="55.">Offences involving threats
                    (An offence under section 13 of the Aviation and Maritime Security
                    Act 1990)</li>
                         <li value="56.">Offences relating to Channel Tunnel trains and the tunnel system (An offence under Part II of the Channel Tunnel (Security) Order 1994 (S.I. 1994/570))</li>
                         <li class="list-alphanum" data-para-num="60A.">An offence against section 47 of the Anti-terrorism, crime and security act 2001 (use etc of nuclear weapons)</li>
                         <li class="list-alphanum" data-para-num="60B.">An offence against section 50 of that Act (assisting or inducing certain weapons related acts overseas)</li>
                         <li class="list-alphanum" data-para-num="63A.">Causing or allowing a child or vulnerable adult to die
                    An offence under section 5(7) of the Domestic Violence, Crime and Victims Act 2004</li>
                         <li class="list-alphanum" data-para-num="63G.">Slavery, servitude and forced or compulsory labour
                    (An Offence section 1 Modern Slavery Act 2015)</li>
                         <li class="list-alphanum" data-para-num="63H.">Human Trafficking
                    (An offence under section 2 of the Modern Slavery Act which is not within Part 2 of this Schedule)</li>
                         <li class="list-alphanum" data-para-num="63I.">An offence under paragraph 1 of Schedule 4 to the Space Industry Act 2018 (hijacking of spacecraft)</li>
                         <li class="list-alphanum" data-para-num="63J.">An offence under paragraph 2 of that Schedule (destroying, damaging or endangering the safety of spacecraft)</li>
                         <li class="list-alphanum" data-para-num="63K.">An offence under paragraph 3 of that Schedule (other acts endangering or likely to endanger safety of spacecraft)</li>
                         <li class="list-alphanum" data-para-num="63L.">An offence under paragraph 4 of that Schedule (endangering safety at spaceports)</li>
                         <li id="app1" value="64.">
                              <ul style="padding-left: 0">
                                   <li style="list-style-type: none;" class="govuk-!-margin-bottom-2 govuk-!-margin-top-2">(1) Aiding, abetting, counselling or procuring the commission of an offence specified in the preceding paragraphs of this Part of this Schedule.</li>
                                   <li style="list-style-type: none;" class="govuk-!-margin-bottom-2">(2) An attempt to commit such an offence.</li>
                                   <li style="list-style-type: none;" class="govuk-!-margin-bottom-2">(3) Conspiracy to commit such an offence.</li>
                                   <li style="list-style-type: none;" class="govuk-!-margin-bottom-2">(4) Incitement to commit such an offence.</li>
                                   <li style="list-style-type: none;" class="govuk-!-margin-bottom-2">(5) An offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the preceding paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
                              </ul>
                         </li>
                         <li value="65">Attempted murder,
                    conspiracy to commit murder,
                    incitement to commit murder.
                    (An offence under Part 2 of the Serious Crime Act 2007 in relation to which murder is the offence (or one of the offences) which the person intended or believed would be committed.)</li>
                    </ol>
               </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-top-7">
               <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l" id="part-2">Part 2</span>
                    <h2 class="govuk-heading-l">Specified sexual offences</h2>
                    <div class="govuk-inset-text">
                In addition to the offences in Part 2, Schedule 15 offences include:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
                              <li>aiding, abetting, counselling or procuring the commission of an offence</li>
                              <li>an attempt to commit such an offence</li>
                              <li>conspiracy to commit such an offence</li>
                              <li>incitement to commit such an offence</li>
                              <li>an offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the below paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
                         </ul>
                This is outlined in <a href="#app2">paragraph 153 of the Schedule</a>
                    </div>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                         <li value="66.">Rape
                    (An offence under section 1 of the Sexual Offences Act 1956 (c. 69)</li>
                         <li value="70">Intercourse with girl under 13
                    (An offence under section 5 of the Sexual Offences Act 1956)</li>
                         <li value="74.">Incest by a man with a girl under 13
                    (An offence under section 10 of the Sexual Offences Act 1956)</li>
                         <li value="86.">Permitting girl under thirteen to use premises for intercourse
                    (An offence under section 25 of the Sexual Offences Act 1956)</li>
                         <li value="102.">Rape
                    (An offence under section 1 of the Sexual Offences Act 2003 (c. 42)</li>
                         <li value="103.">Assault by Penetration
                    (An offence under section 2 of the Sexual Offences Act 2003)</li>
                         <li value="105.">Causing a person to engage in sexual activity without consent
                    (An offence under section 4 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (4)(a) to (d) of that section</li>
                         <li value="106.">Rape of a child under 13
                    (An offence under section 5 of the Sexual Offences Act 2003)</li>
                         <li value="107.">Assault of a child under 13 by penetration
                    (An offence under section 6 of the Sexual Offences Act 2003)</li>
                         <li value="109.">Causing a child under thirteen to engage in sexual activity
                    (An offence under section 8 of the Sexual Offences Act 2003 where it is alleged that an activity involving penetration within subsection (2)(a) to (d) of that section was caused)</li>
                         <li value="123.">Sexual activity with a person with a mental disorder impeding choice
                    (An offence under section 30 of the Sexual Offences Act 2003)</li>
                         <li value="124.">Causing or inciting a person with a mental disorder impeding choice to engage in sexual activity
                    (An offence under section 31 of the Sexual Offences Act 2003)</li>
                         <li value="127.">Inducement, threat or deception to procure sexual activity with a person with a mental disorder
                    (An offence under section 34 of the Sexual Offences Act 2003)</li>
                         <li value="128.">Causing a person with a mental disorder to engage in or agree to engage in sexual activity by inducement, threat or deception
                    (An offence under section 35 of the Sexual Offences Act 2003)</li>
                         <li value="135.">Paying for sexual services of a child (where victim is <13, penetrative) An offence under section 47 of the Sexual Offences Act 2003</li>
                         <li value="145.">Kidnapping or false imprisonment committed with the intention of committing a relevant sexual offence
                        (An offence under section 62(3) of the Sexual Offences Act 2003 where the offender commits a kidnap or false imprisonment with the intention of committing an offence under Part 3 of that Act.</li>
                         <li class="list-alphanum" data-para-num="152A.">An offence under section 2 of the Modern Slavery Act 2015 (human trafficking) committed with a view to exploitation that consists of or includes behaviour within section 3(3) of that Act (sexual exploitation)</li>
                         <li id="app2" value="153.">
                              <ul style="padding-left: 0">
                                   <li class="list-style-none govuk-!-margin-bottom-2 govuk-!-margin-top-2">(1) Aiding, abetting, counselling or procuring the commission of an offence specified in the preceding paragraphs of this Part of this Schedule.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(2) An attempt to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(3) Conspiracy to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(4) Incitement to commit such an offence.</li>
                                   <li class="list-style-none govuk-!-margin-bottom-2">(5) An offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the preceding paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed.</li>
                              </ul>
                         </li>
                    </ol>
               </div>
          </div>
     </div>

{% endblock %}