{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../partials/checkInformation/courtCaseDetails.njk" import courtCaseDetails %}
{% from "../partials/checkInformation/sentenceTable.njk" import sentenceTable %}

{% set pageTitle = applicationName + " - Select offences that appear in " + model.calculationQuestionType.text %}
{% set pageId = "select-offences-" + model.calculationQuestionType.url  %}

{% block aside %}
    {% include "../partials/prisonerIdentityBar.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {% if model.previousQuestion() %}
        {% set backlink = "/calculation/" + prisonerDetail.offenderNo + "/select-offences-that-appear-in-" + model.previousQuestion().url %}
    {% else %}
        {% set backlink = "/calculation/" + prisonerDetail.offenderNo + "/alternative-release-arrangements" %}
    {% endif %}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backlink,
        attributes: {  'data-qa': 'backlink' }
    }) }}
    </nav>
{% endblock %}

{% block content %}
    {% include "../partials/customErrorBanner.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Select offences that appear in {{model.calculationQuestionType.textLower}}
            </h1>
            <p class="govuk-body">For each sentence, select the offences that have alternative release date arrangements.</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <a target="_blank" href="/schedule-15-{{model.calculationQuestionType.url}}" data-qa="offence-list-link">
                <div class="card-group card-group__item govuk-!-margin-top-6">
                    <div class="card card--clickable">
                        <h2 class="govuk-heading-s card__heading govuk-!-margin-bottom-0">{{model.calculationQuestionType.text}} (opens in new tab)</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">The Schedule 15 offences in {{model.calculationQuestionType.textLower}} are applicable to:
                </p>
            {% if model.isOriginal() %}
                <ul class="govuk-list govuk-list--bullet">
                    <li>SDS and DYOI sentence types</li>
                    <li>sentences imposed on or after 01 April 2020</li>
                    <li>sentences imposed before 28 June 2022</li>
                    <li>individual sentences of 7 years or over</li>
                    <li>people aged 18 years or over when sentenced</li>
                    <li>a maximum sentence of life</li>
                </ul>
            {% endif %}
            {% if model.isFourToUnderSeven() %}
                <ul class="govuk-list govuk-list--bullet">
                    <li>SDS and DYOI sentence types</li>
                    <li>sentences imposed on or after 28 June 2022</li>
                    <li>individual sentences of 4 years or over, but less than 7 years</li>
                    <li>people aged 18 years or over when sentenced</li>
                    <li>a maximum sentence of life</li>
                </ul>
            {% endif %}
            {% if model.isSection250() %}
                <ul class="govuk-list govuk-list--bullet">
                    <li>SEC250 sentences</li>
                    <li>sentences imposed on or after 28 June 2022</li>
                    <li>individual sentences of 7 years or over</li>
                    <li>a maximum sentence of life</li>
                </ul>
            {% endif %}
            {% if model.isUpdated() %}
                <ul class="govuk-list govuk-list--bullet">
                    <li>SDS and DYOI sentence types</li>
                    <li>sentences imposed on or after 28 June 2022</li>
                    <li>individual sentences of 7 years or over</li>
                    <li>people aged 18 years or over when sentenced</li>
                    <li>a maximum sentence of life</li>
                </ul>
            {% endif %}
        </div>
    </div>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full govuk-!-margin-top-2">
                <div id="sentences">
                    {% for case in model.cases %}
                        {{ courtCaseDetails({case: case, includeCaseDetails: false}) }}
                        {{ sentenceTable({case: case, includeCheckboxes: true, includeConurrentOrConsecutiveText: false, isCheckboxChecked: model.isCheckboxChecked, includeSentenceType: false}) }}
                    {% endfor %}
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="unselect-all" name="none" type="checkbox" value="unselect-all"  {{ "checked" if model.isNoneCheckboxChecked() }}>
                        <label class="govuk-label govuk-checkboxes__label" for="unselect-all">
                            None of the sentences include Schedule 15 offences from {{model.calculationQuestionType.textLower}}.
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action -->
        <div class="govuk-grid-row govuk-!-margin-top-8">
            <div class="govuk-grid-column-two-thirds">
                {{ govukButton({
        text: "Continue",
        type: submit,
        value: 'submit-user-input',
        preventDoubleClick: true,
        attributes: {  'data-qa': 'submit-user-input' }
    }) }}
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/assets/unselectAll.js"></script>
{% endblock %}