{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../partials/checkInformation/courtCaseDetails.njk" import courtCaseDetails %}
{% from "../partials/checkInformation/sentenceCard.njk" import sentenceCard %}

{% set pageTitle = applicationName + " - Select offences that appear in " + model.calculationQuestionType.text %}
{% set pageId = "select-offences-" + model.calculationQuestionType.url  %}

{% block aside %}
    {% include "../partials/prisonerIdentityBar.njk" %}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {% if model.previousQuestion() %}
        {% set backlink = "/calculation/" + prisonerDetail.offenderNo + "/select-offences-that-appear-in-" + model.previousQuestion().url %}
    {% else %}
        {% set backlink = "/calculation/" + prisonerDetail.offenderNo + "/alternative-release-arrangements" %}
    {% endif %}
    <nav>
        {{ govukBackLink({
        text: "Back",
        href: backlink,
        attributes: {  'data-qa': 'backlink' }
    }) }}
    </nav>
{% endblock %}

{% block content %}
    {% include "../partials/customErrorBanner.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Select the offences that appear on {{model.calculationQuestionType.textLower}}
            </h1>
            <p class="govuk-body" id="body-summary">Select the checkbox for any sentences that have offences on {{ model.calculationQuestionType.textLower }}. Alternatively, select the checkbox that says 'None of the sentences have offences that appear on {{ model.calculationQuestionType.textLower }}'.</p>
            <ul class="govuk-list govuk-list--number">
                <li>Note the name of the offence for the first sentence below</li>
                <li>
                    Open <a target="_blank" href="/schedule-15-{{model.calculationQuestionType.url}}" data-qa="offence-list-link">{{model.calculationQuestionType.text}} (opens in new tab)</a>
                </li>
                <li>Check if the name of the offence appears on {{model.calculationQuestionType.text}}</li>
                <li>Return to this page</li>
                <li>Select the box if the offence name appears on {{model.calculationQuestionType.text}}</li>
                <li>Repeat for each sentence</li>
            </ul>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Are incohate offences included?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">Not all incohate offences appear on the list as named offences. Sentences that include incohate offences could still be specified by Schedule 15. Incohate offences can be:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>aiding, abetting, counselling or procuring</li>
                        <li>attempted or attempt to</li>
                        <li>conspiracy or conspire to</li>
                        <li>incite or incitement</li>
                        <li>where the person intended or believed would commit an offence</li>
                    </ul>
                    <p class="govuk-body">See paragraph 64 (specified violent offences) and paragraph 153 (specified sexual offences) for more information.</p>
                </div>
            </details>
        </div>
    </div>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full govuk-!-margin-top-2">
                <div id="sentences">
                    {% for case in model.cases %}
                        {{ courtCaseDetails({case: case, includeCaseDetails: false}) }}
                        {{ sentenceCard({
                        case: case,
                        includeCheckboxes: true,
                        includeConcurrentOrConsecutiveText: false,
                        isCheckboxChecked: model.isCheckboxChecked,
                        listText: model.calculationQuestionType.text
                        }) }}
                        {# {{ sentenceTable({case: case, includeCheckboxes: true, includeConurrentOrConsecutiveText: false, isCheckboxChecked: model.isCheckboxChecked, includeSentenceType: false}) }} #}
                    {% endfor %}
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input aria-describedby="body-summary" class="govuk-checkboxes__input" id="unselect-all" name="none" type="checkbox" value="unselect-all"  {{ "checked" if model.isNoneCheckboxChecked() }}>
                        <label class="govuk-label govuk-checkboxes__label" for="unselect-all">
                            None of the sentences have offences that appear on {{model.calculationQuestionType.text}}.
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action -->
        <div class="govuk-grid-row govuk-!-margin-top-8">
            <div class="govuk-grid-column-two-thirds">
                {{ govukButton({
        text: "Continue",
        type: submit,
        value: 'submit-user-input',
        preventDoubleClick: true,
        attributes: {  'data-qa': 'submit-user-input' }
    }) }}
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/assets/unselectAll.js"></script>
{% endblock %}