{% macro addAdjustmentRow(releaseType, releaseDate, hintText) %}
    <tr class="govuk-table__row">
        <td class="govuk-table__header">{{ releaseType }} with adjustments</td>
        <td class="govuk-table__cell">
            {{ releaseDate | date('DD MMMM YYYY') }}
            <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16 govuk-!-margin-bottom-0">
                {{ hintText }}
            </div>
        </td>
    </tr>
{% endmacro %}

<h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-6">Release dates with adjustments</h3>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <table class="govuk-table govuk-!-margin-bottom-4" data-qa="release-dates-adjustments-table">
            <tbody class="govuk-table__body">
                {% for releaseDatesWithAdjustment in model.releaseDatesWithAdjustments %}
                    {{ addAdjustmentRow(releaseDatesWithAdjustment.releaseDateType, releaseDatesWithAdjustment.releaseDate, releaseDatesWithAdjustment.hintText) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>