
    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "CRD-subType",

        items: [
            {
                value: "sds-plus",
                text: "SDS+"
            },
            {
                value: "other",
                text: "Other"
            }
        ]
    }) }}
