{% from "./otherInput.njk" import otherInput %}

    {% set otherTextInput %}
        {{ otherInput('CRD-otherInput', discrepancy.causes.CRD.other) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "CRD-subType",
        errorMessage: validationErrors | findError('CRD-subType'),
        items: [
            {
                value: "SDS_PLUS",
                text: "SDS+",
                checked: discrepancy.causes.CRD.subCategory == 'SDS_PLUS'
            },
            {
                value: "OTHER",
                text: "Other",
                checked: discrepancy.causes.CRD.subCategory == 'OTHER',
                conditional: {
                    html: otherTextInput
                }
            }
        ]
    }) }}
