{% from "./otherInput.njk" import otherInput %}

    {% set otherTextInput %}
        {{ otherInput('ERSED-otherInput', discrepancy.causes.ERSED.other) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "ERSED-subType",
        errorMessage: validationErrors | findError('ERSED-subType'),
        items: [
            {
                value: "NEW_RULES_NOT_APPLIED",
                text: "New rules not applied",
                checked: discrepancy.causes.ERSED.subCategory == 'NEW_RULES_NOT_APPLIED'
            },
            {
                value: "OTHER",
                text: "Other",
                checked: discrepancy.causes.ERSED.subCategory == 'OTHER',
                conditional: {
                    html: otherTextInput
                }
            }
        ]
    }) }}
