
    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "ERS-subType",

        items: [
            {
                value: "new-rules-not-applied",
                text: "New rules not applied"
            },
            {
                value: "other",
                text: "Other"
            }
        ]
    }) }}
