{% from "./otherInput.njk" import otherInput %}

    {% set otherTextInput %}
        {{ otherInput('HDCED-otherInput', discrepancy.causes.HDCED.other) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "HDCED-subType",
        errorMessage: validationErrors | findError('HDCED-subType'),
        items: [
            {
                value: "NEW_RULES_NOT_APPLIED",
                text: "New rules not applied",
                checked: discrepancy.causes.HDCED.subCategory == 'NEW_RULES_NOT_APPLIED'
            },
            {
                value: "FOURTEEN_DAY_RULE_NOT_APPLIED",
                text: "14-day rule not applied",
                checked: discrepancy.causes.HDCED.subCategory == 'FOURTEEN_DAY_RULE_NOT_APPLIED'
            },
            {
                value: "INELIGIBLE_FOR_HDC",
                text: "Ineligible for HDC",
                checked: discrepancy.causes.HDCED.subCategory == 'INELIGIBLE_FOR_HDC'
            },
            {
                value: "RECALL_RELATED",
                text: "Recall related",
                checked: discrepancy.causes.HDCED.subCategory == 'RECALL_RELATED'
            },
            {
                value: "OTHER",
                text: "Other",
                checked: discrepancy.causes.HDCED.subCategory == 'OTHER',
                conditional: {
                    html: otherTextInput
                }
            }
        ]
    }) }}
