
{% set otherTextInput %}
    {% include "./otherInput.njk" %}
{% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "LED-subType",

        items: [
            {
                value: "date-not-calculated",
                text: "Date not calculated"
            },
            {
                value: "other",
                text: "Other",
                conditional: {
                    html: otherTextInput
                }
            }
        ]
    }) }}
