{% from "./otherInput.njk" import otherInput %}

    {% set otherTextInput %}
        {{ otherInput('LED-otherInput', discrepancy.causes.LED.other) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "LED-subType",
        errorMessage: validationErrors | findError('LED-subType'),
        items: [
            {
                value: "DATE_NOT_CALCULATED",
                text: "Date not calculated",
                checked: discrepancy.causes.LED.subCategory == 'DATE_NOT_CALCULATED'
            },
            {
                value: "OTHER",
                text: "Other",
                checked: discrepancy.causes.LED.subCategory == 'OTHER',
                conditional: {
                    html: otherTextInput
                }
            }
        ]
    }) }}
