
    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "PRRD-subType",

        items: [
            {
                value: "remand-ual-related",
                text: "Remand or UAL related"
            },
            {
                value: "other",
                text: "Other"
            }
        ]
    }) }}

