
    {{ govukRadios({
        classes: "govuk-radios--small",
        name: "SED-subType",

        items: [
            {
                value: "date-not-calculated",
                text: "Date not calculated"
            },
            {
                value: "other",
                text: "Other"
            }
        ]
    }) }}

