{% from "govuk/components/table/macro.njk" import govukTable %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
    </div>
</div>
{% if model.totalDeductions and model.totalDeductions > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m" data-qa="deductions-heading">Deductions</h3>
        </div>
        {% if model.remand and model.remand.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "Remand",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Dates",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days"
                        }
                    ],
                    rows: model.remand.rows,
                    attributes: { "data-qa": "remand-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.taggedBail and model.taggedBail.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "Tagged bail",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Court case",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days"
                        }
                    ],
                    rows: model.taggedBail.rows,
                    attributes: { "data-qa": "tagged-bail-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.custodyAbroad and model.custodyAbroad.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "Time spent in custody abroad",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Document type",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days"
                        }
                    ],
                    rows: model.custodyAbroad.rows,
                    attributes: { "data-qa": "custody-abroad-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.rada and model.rada.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "RADA (Restoration of additional days awarded)",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Date of days restored",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days"
                        }
                    ],
                    rows: model.rada.rows,
                    attributes: { "data-qa": "rada-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.specialRemission and model.specialRemission.rows.length > 0 %}
        <div class="govuk-grid-column-full">
            {{ govukTable({
                caption: "Special remission",
                captionClasses: "govuk-table__caption--s",
                head: [
                    {
                        text: "Type",
                        classes: "adjustments-table-first-column"
                    },
                    {
                        text: "Days"
                    }
                ],
                rows: model.specialRemission.rows,
                attributes: { "data-qa": "special-remission-table" }
            }) }}
        </div>
        {% endif %}
    </div>
{% endif %}
{% if model.totalAdditions and model.totalAdditions > 0 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m" data-qa="additions-heading">Additions</h3>
        </div>
        {% if model.ada and model.ada.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "ADA (Additional days awarded)",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Dates",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days"
                        }
                    ],
                    rows: model.ada.rows,
                    attributes: { "data-qa": "ada-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.ual and model.ual.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "UAL (Unlawfully at large)",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Dates",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days",
                            classes: "govuk-!-width-one-quarter"
                        },
                        {
                            text: "Type",
                            classes: "adjustments-table-second-column"
                        }
                    ],
                    rows: model.ual.rows,
                    attributes: { "data-qa": "ual-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.lal and model.lal.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "Lawfully at large (LAL)",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Dates",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days",
                            classes: "govuk-!-width-one-quarter"
                        },
                        {
                            text: "Delay release dates",
                            classes: "adjustments-table-second-column"
                        }
                    ],
                    rows: model.lal.rows,
                    attributes: { "data-qa": "lal-table" }
                }) }}
            </div>
        {% endif %}
        {% if model.appealApplicant and model.appealApplicant.rows.length > 0 %}
            <div class="govuk-grid-column-full">
                {{ govukTable({
                    caption: "Time spent as an appeal applicant not to count",
                    captionClasses: "govuk-table__caption--s",
                    head: [
                        {
                            text: "Court of appeal reference number",
                            classes: "adjustments-table-first-column"
                        },
                        {
                            text: "Days"
                        }
                    ],
                    rows: model.appealApplicant.rows,
                    attributes: { "data-qa": "appeal-applicant-table" }
                }) }}
            </div>
        {% endif %}
{% endif %}