{% macro keyDates(keyDatesObj) %}
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
      {% for keyDate in keyDatesObj %}
        <div class="govuk-summary-list__row">
          <dt data-qa="{{keyDate.code}}-title" class="govuk-summary-list__key govuk-!-font-weight-regular" style="padding: 5px 0px 6px 0px">
            {{keyDate.code}} ({{ keyDate.description }})
          </dt>
          <dd data-qa="{{keyDate.code}}-date" class="govuk-summary-list__value " style="padding: 5px 0px 6px 0px">
            {{ keyDate.date | hmppsFormatDate('dd MMMM yyyy')  }}
          </dd>
        </div>
      {% endfor %}
    </dl>
{% endmacro %}