{% macro prisonerDetails(model) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular" style="padding: 5px 0px 6px 0px">
              Name
            </dt>
            <dd class="govuk-summary-list__value " style="padding: 5px 0px 6px 0px" data-qa="prisoner-name">
              {{ model.prisonerDetail.firstName | title + ' ' + model.prisonerDetail.lastName | title }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular" style="padding: 5px 0px 6px 0px">
              Cell number
            </dt>
            <dd class="govuk-summary-list__value " style="padding: 5px 0px 6px 0px" data-qa="prisoner-cell">
              {% if model.prisonerDetail.assignedLivingUnit.description %}
                {{ model.prisonerDetail.assignedLivingUnit.description }}
              {% else %}
                No Cell Number available
              {% endif %}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular" style="padding: 5px 0px 6px 0px">
              Prison number
            </dt>
            <dd class="govuk-summary-list__value " style="padding: 5px 0px 6px 0px" data-qa="offender-number">
              {{ model.prisonerDetail.offenderNo }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
{% endmacro %}