<li>
    <p class="govuk-body">This service does not yet support a calculation scenario when:</p>
</li>

{% include "./list-validation-messages.njk" %}

<li>
    <p class="govuk-body govuk-!-margin-bottom-0">Calculate the release dates manually until these scenarios are
        supported by this service.</p>
</li>
