{% extends "../partials/layout.njk" %}
{% from "hmpps/components/court-cases-release-dates/actions-card/macro.njk" import actionsCard %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}
{% from "hmpps/components/court-cases-release-dates/latest-calculation-card/macro.njk" import latestCalculationCard %}
{% from "../pages/components/sds40-policy-banner/macro.njk" import sds40PolicyNotificationBanner %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = "ccard-index" %}

{% if commonElementConfig.establishmentCode == 'OUT' or commonElementConfig.establishmentCode == 'TRN' %}
    {% set enableAdjustments = false %}
{% else %}
    {% set enableAdjustments = true %}
{% endif %}


{% set navigation = {
    activeSubNav: 'release-dates',
    adjustments: { enabled: enableAdjustments },
    documents: { enabled: false },
    courtCases: { enabled: false }
} %}
{% block beforeContent %}
    {{super()}}
    {% if showCCARDNav %}
        {{ subNavigation(commonElementConfig.environment, navigation, commonElementConfig.prisonNumber) }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading" id="main-heading">Release dates and calculations</h1>
        </div>

    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if calculationHistory.length %}
                {% if latestCalculationCardConfig %}
                    <h3 class="govuk-heading-m">Latest calculation</h3>
                    {{ latestCalculationCard(latestCalculationCardConfig, latestCalculationCardAction) }}
                {% endif %}

                {% include "./partials/calculationHistory/calculationHistory.njk" %}

            {% else %}

                {% set calculate_release_dates ={
                    href: '/calculation/' + prisonerDetail.offenderNo + '/reason',
                    title: 'Calculate release dates',
                    dataQa: 'calc-release-dates-for-prisoner-panel-link'
                } %}
                {% include "./partials/calculationHistory/noCalculations.njk" %}

            {% endif %}
        </div>
        {% set actions = [
            {
                href: '/calculation/' + prisonerDetail.offenderNo + '/reason',
                title: 'Calculate release dates',
                dataQa: 'calc-release-dates-for-prisoner-action-link'
            }
        ]
        %}

        {% if hasNoIndeterminateSentence %}
            {% set _ = actions.push({
                href: '/calculation/' + prisonerDetail.offenderNo + '/reason?isAddDatesFlow=true',
                title: 'Add APD, HDCAD or ROTL dates',
                dataQa: 'calc-release-dates-for-adding-dates-link'
            }) %}
        {% endif %}

        {% if allowBulkLoad %}
            {% set actions = (actions.push(
                {
                    href: '/compare',
                    title: 'Perform bulk comparison',
                    dataQa: 'bulk-comparison-action-link'
                }), actions)
            %}
        {% endif %}

        {{ actionsCard(actions) }}
    </div>
{% endblock %}