{% extends "../partials/layout.njk" %}
{% from "hmpps/components/court-cases-release-dates/actions-card/macro.njk" import actionsCard %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}
{% from "hmpps/components/court-cases-release-dates/things-to-do/macro.njk" import thingsToDo %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = "ccard-index" %}

{% set navigation = {
    activeSubNav: 'release-dates', 
    recalls: { enabled: commonElementConfig.environment == 'dev' },
    documents: { enabled: false },
    courtCases: { enabled: false },
    recalls: { enabled: false }
} %}

{% block beforeContent %}
    {{ super() }}
    {% if serviceDefinitions %}
        {{ subNavigation(serviceDefinitions.services, 'releaseDates') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row release-dates-summary-container">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading" id="main-heading">Release dates and calculations</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            {% if anyThingsToDo %}
                {{thingsToDo(serviceDefinitions, 'all')}}
            {% endif %}
            
            {% if calculationHistory.length %}
                {% if latestCalculationCardConfig %}
                    {% if not anyThingsToDo  %}
                        {% include "./partials/calculationSummary/summary.njk" %}
                        {% include "./partials/calculationSummary/minimalCalculationCard.njk" %}
                        {% set latestCalc = calculationHistory[0] %}
                        {% if latestCalculation.source !== 'NOMIS' %}
                            <ul class="govuk-list">
                                <li>
                                    <a data-qa="ccard-sentence-details-link" class="govuk-link"
                                    href="/view/{{ latestCalc.offenderNo }}/sentences-and-offences/{{ latestCalculation.calculationRequestId }}">View calculation details</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endif %}

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    {% include "./partials/calculationHistory/calculationHistory.njk" %}

                {% else %}
                    {% set calculate_release_dates = {
                        href: '/calculation/' + prisonerDetail.offenderNo + '/reason',
                        title: 'Calculate release dates',
                        dataQa: 'calc-release-dates-for-prisoner-panel-link'
                    } %}
                    {% include "./partials/calculationHistory/noCalculations.njk" %}
                {% endif %}
            {% endif %}
        </div>
        {% set actions = [
            {
                href: '/calculation/' + prisonerDetail.offenderNo + '/reason',
                title: 'Calculate release dates',
                dataQa: 'calc-release-dates-for-prisoner-action-link'
            }
        ] %}

        {% if hasNoIndeterminateSentence %}
            {% set addDatesUrl = '/approved-dates/' + prisonerDetail.offenderNo + '/start' if featureToggles.useNewApprovedDatesFlow else '/calculation/' + prisonerDetail.offenderNo + '/reason?isAddDatesFlow=true' %}
            {% set _ = actions.push({
                href: addDatesUrl,
                title: 'Add APD, HDCAD or ROTL dates',
                dataQa: 'calc-release-dates-for-adding-dates-link'
            }) %}
        {% endif %}

        {% if allowBulkLoad %}
            {% set actions = (actions.push(
                {
                    href: '/compare',
                    title: 'Perform bulk comparison',
                    dataQa: 'bulk-comparison-action-link'
                }), actions) %}
        {% endif %}

        {{ actionsCard(actions) }}
    </div>
{% endblock %}