{% extends "../partials/layout.njk" %}
{% from "hmpps/components/court-cases-release-dates/actions-card/macro.njk" import actionsCard %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = "ccard-index" %}
{% set navigation = {
    activeSubNav: 'release-dates',
    documents: { enabled: false },
    courtCases: { enabled: false }
} %}
{% block beforeContent %}
    {{super()}}
    {% if showCCARDNav %}
        {{ subNavigation(commonElementConfig.environment, navigation, commonElementConfig.prisonNumber) }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading" id="main-heading">Calculations and release dates</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Latest calculation</h3>
            {% if calculationHistory.length %}
                {% include "./partials/calculationHistory/calculationHistory.njk" %}
            {% endif %}
        </div>
        {% set actions = [
            {
                href: '/calculation/' + prisonerDetail.offenderNo + '/reason',
                title: 'Calculate release dates',
                dataQa: 'calc-release-dates-for-prisoner-action-link'
            }
        ]
        %}
        {{ actionsCard(actions) }}
    </div>
{% endblock %}