{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>{{ message }}</h1>
  <h2>{{ status }}</h2>
  <pre>{{ stack }}</pre>

{% endblock %}
