{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1>This site is under construction...</h1>
    <p>Please check back later when there is content to view.</p>
  </main>

{% endblock %}
