{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = "index" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="main-heading">
                Calculate release dates
            </h1>
            <div class="govuk-inset-text">
                Only standard determinate sentences (SDS) work with this service currently.
            </div>
            <p class="govuk-body">Automatically calculate an offender’s release date using information from NOMIS.</p>
            {% if prisonId %}
                {% set backlink = "/calculation/" + prisonId + "/check-information" %}
            {% else %}
                {% set backlink = "/search/prisoners" %}
            {% endif %}
            {{ govukButton({
                text: "Start now",
                href: backlink,
                classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
                isStartButton: true,
                attributes: { 'data-qa': 'start-now-button' }
            }) }}
            <h2 class="govuk-heading-m">Before you start</h2>
            <p class="govuk-body">To use this service, you need to enter information about this offender in NOMIS:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>court cases</li>
                <li>court dates</li>
                <li>offences</li>
                <li>offence dates</li>
                <li>sentences</li>
                <li>adjustments </li>
            </ul>
        </div>
    </div>
{% endblock %}